.farmer-dignity {
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* ================= IMAGE SECTION ================= */

.farmer-dignity__hero {
  position: relative;
  height: 50vh; /* 450px -> 50vh */
  background-size: cover;
  background-position: center;
}

.farmer-dignity__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.15)
  );
}

.farmer-dignity__hero-content {
  position: relative;
  z-index: 2;
  padding: 6vh 4vw;
  max-width: 41.66vw;
  color: #fff;
}

.farmer-dignity__hero-content h2 {
  font-size: 3.5vw;
  margin-bottom: 0.97vw;
  color: #fff;
  text-shadow:
    4px 0 4px rgba(0, 0, 0, 0.55),
    0 4px 4px rgba(0, 0, 0, 0.55);
  font-family: "DDINPRO";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.farmer-dignity__hero-content p {
  font-size: 1.2vw;
  line-height: 1.1;
  opacity: 0.9;
  color: #fff;
  font-family: "DDINPRO";

  font-style: normal;
  font-weight: 400;
}

/* ================= BOTTOM BLUE STRIP ================= */

.farmer-dignity__bottom {
  position: relative;
  display: flex;
  background-color: #153a74;
  color: #fff;
  align-items: stretch;
  padding-bottom: 4.44vh; /* 40px -> 4.44vh */
}

/* ================= ORANGE QUOTE BLOCK ================= */

.farmer-dignity__quote {
  position: relative;
  width: 20vw;
  height: 45vh;
  background-color: #ff5100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -10.11vh;
  z-index: 5;
  margin-left: 20vw;
  gap: 1;
}

/* Quote arrow image */
.quote-mark {
  margin-bottom: 1.39vh;
}

.quote-mark img {
  width: 8.33vw;
  height: auto;
  object-fit: contain;
  margin-left: 11.7vw;
}

/* Quote text */
.farmer-dignity__quote p {
  font-size: 2.5vw;

  padding: 0 0 0 1vw;

  color: #fff;
  text-shadow:
    4px 0 4px rgba(0, 0, 0, 0.35),
    0 4px 4px rgba(0, 0, 0, 0.35);
  font-family: "DDINPRO";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0vh;
}

/* ================= RIGHT DESCRIPTION ================= */

.farmer-dignity__description {
  padding: 4.44vh 4.51vw 3.75vh; /* 65px 65px 45px */
  max-width: 50vw;
}

.farmer-dignity__description p {
  font-size: 1.7vw;
  line-height: normal;
  margin-bottom: 1.25vh;
  opacity: 0.95;

  color: #fff;
  font-family: "DDINPRO";
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
}
