/* --------------------------- */

.heros {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 8vh;
}

.smallgdmainbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.smallgdmainbackground img {
  width: 100%;
  height: 20%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* PMO Section Start */
/* .pmomainbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.pmomainbackground img {
  width: 100%;
  height: 87%;
  object-fit: cover;
  position: relative;
  z-index: 1;
} */


.rent-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.rent-on img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.rent-on-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.careers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.careers img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.careers-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sitevisit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.sitevisit img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.sitevisit-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contactUs-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.contactUs-bg img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.contactus-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.customerservice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
}

.customerservice img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.customerservice-title {
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.circle-gifservice {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
}

.hero-bottom-wrapservice {
  position: absolute;
  bottom: 18vh;
  left: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  z-index: 5;
}
.circle-gif {
  width: 200px;
  height: 200px;
}

.circle-elementservice {
  overflow: hidden;
  animation: rotateCircle 6s linear infinite;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

