.hlr {
  width: auto;
   height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10px;
    padding: 0vh 6vw;
}

.paragraph {
  max-width: 600px;
  color: #2E2E2E;
  font-size: 18px;
  font-weight: 500;
   font-family: 'DDINPRO';
  background-color: #fff;      
  padding: 1rem;                
  border-radius: 10px;          
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.paragraph:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  
}


