.heror {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin-top: 8vh;
}

.gdmainbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.gdmainbackground img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: heroZoom 8s ease-in-out infinite;
}
@keyframes heroZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.hero-content-overlayy {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
}

.header-rows {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0rem;
  gap: 8vw;
}

.logo-container {
  flex-shrink: 0;
  width: 10vw;
}

.logo-anim-wrap {
  display: inline-block;
  will-change: transform;
}

.logo {
  width: 180px;
  height: auto;
  padding: 0vh 2vw;
  animation: logozoomInOut 3s ease-in-out infinite;

  animation-delay: 0s, 2.5s;
}

@keyframes logozoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.nav-commons {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  margin-top: 7vh;
  animation: navSlideIn 3.5s ease-out forwards;
}

@keyframes navSlideIn {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-section-commonns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-title-commons {
  font-size: 18px;
  text-transform: none;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "DDINPRO";
  white-space: nowrap;
  margin: 0;
  color: #ffd768;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-list-commons {
  display: flex;
  gap: 2vw;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-list-commons li {
  white-space: nowrap;
}

.nav-list-commons a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "DDINPRO";
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.nav-list-commons a:hover {
  transform: translateX(5px);
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.hero-bottom-wrap {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 5vw;
  z-index: 5;
}

.hero-bottom-wrapoverview {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  z-index: 5;
}

.circle-elements {
  position: relative;
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.aboutus-title {
  margin-top: -2vw;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aboutus-titleoverview {
  margin-top: -4vw;
  font-family: "DDINPRO";
  font-size: 5vw;
  line-height: 0.9;
  margin-bottom: 0vw;
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-text-content {
  /* position: relative; */
  max-width: 38vw;
  /* padding: 2.2vh 1.8vw; 
  border: 0.18vw solid rgba(255, 255, 255, 0.9); */
  padding-bottom: 5vw;
}

.hero-text-content h1,
.hero-text-content p {
  margin: 0;
}

.overviewsubtitle {
  margin-top: 1vh;
  max-width: 30vw;
  color: #ffffff;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1.5vw;
}

.circle-gifs {
  position: absolute;
  width: 200px;
  max-width: none;
  left: 35%;
  top: 0%;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.InveHero-title {
  margin-top: -5vw;
  margin-left: 9vw;
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-family: "DDINPRO";
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.InveHero-title span {
  color: transparent;
  text-shadow: 0 0 100px #000;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #fb0;
  font-family: "DDINPRO";
  font-size: 8vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 16px;
  border-bottom: 5px solid #0982fe;
  border-radius: 4px;
}

/* PMO Section Start */
.pmomainbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.pmomainbackground img {
  width: 100%;
  height: 87%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.vendor-registration-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.vendor-registration-bg img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.vendor-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.co-owner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.co-owner img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.coowner-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rent-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.rent-on img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.rent-on-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.careers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.careers img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.careers-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sitevisit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.sitevisit img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.sitevisit-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contactUs-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.contactUs-bg img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.contactus-title {
  padding-bottom: 25vh;
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customerservice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
}

.customerservice img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.customerservice-title {
  font-family: "DDINPRO";
  color: #fff;
  text-shadow: 0 0 100px #000;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-bottom-wrapservice {
  position: absolute;
  bottom: 18vh;
  left: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  z-index: 5;
}
.circle-gif {
  width: 200px;
  height: 200px;
}

.circle-elementservice {
  overflow: hidden;
  animation: rotateCircle 6s linear infinite;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .heror {
    height: 50vh;
    margin-top: 10vh;
  }

  .gdmainbackground,
  .gdmainbackground img {
    height: 100vh;
  }

  .hero-content-overlayy {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }

  .logo {
    display: none;
  }

  .nav-commons {
    display: none;
  }

  .hero-bottom-wrap {
    flex-direction: row;
    gap: 2vh;
    bottom: 2vh;
    padding: 0 2vw;
    width: 100%;
  }

  .circle-elements {
    width: 8vw;
    height: 8vw;
    border-width: 1.5px;
  }

  .aboutus-title,
  .aboutus-titleoverview {
    font-size: 6vw;
    margin-top: -4vw;
    text-shadow: 16px 16px 32px rgba(0, 0, 0, 0.6);
    line-height: 30px;
  }

  .hero-text-content {
    max-width: 90vw;
    padding-bottom: 10vw;
  }

  .overviewsubtitle {
    max-width: 90vw;
    font-size: 4vw;
    margin-top: 2vh;
  }

  .circle-gifs {
    width: 100px;
    left: 30%;
    top: -160%;
    transform: translate(-50%, 0%);
  }

  .InveHero-title {
    margin-top: -2vw;
    margin-left: 0;
    font-size: 5.5vw;
  }

  .InveHero-title span {
    font-size: 8vw;
    -webkit-text-stroke-width: 2px;
    letter-spacing: 8px;
    border-bottom-width: 3px;
  }

  .hero {
    height: 50vh;
    margin-top: 10vh;
  }
  .pmomainbackground,
  .pmomainbackground img {
    height: 30vh;
    object-fit: cover;
  }

  .vendor-registration-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .vendor-registration-bg img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .vendor-title {
    padding-bottom: 5vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .co-owner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .co-owner img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .coowner-title {
    padding-bottom: 5vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .rent-on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .rent-on img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .rent-on-title {
    padding-bottom: 5vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .careers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .careers img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .careers-title {
    padding-bottom: 5vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .sitevisit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .sitevisit img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .sitevisit-title {
    padding-bottom: 5vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .contactUs-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .contactUs-bg img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .contactus-title {
    padding-bottom: 5vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .customerservice {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .customerservice img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .customerservice-title {
    /* padding-bottom:18vh; */
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .hero-bottom-wrapservice {
    position: relative; /* remove absolute overlap */
    bottom: 0vh;
    left: 0;
    width: 100%;
    padding: 3vh 5vw;
    justify-content: space-between;
    margin-top: 13vh;
    /* gap: 4vw; */
  }

  .circle-gif {
    width: 11vw;
    height: 11vw;
  }

  .circle-elementservice {
    animation-duration: 10s; /* slower = smoother on mobile */
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hero-content-overlayy {
    display: none;
  }

  .aboutus-title {
    font-size: 8vw;
    margin-top: -4vw;
    text-shadow: 16px 16px 32px rgba(0, 0, 0, 0.6);
    line-height: 30px;
  }

  .pmomainbackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .pmomainbackground img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  .overviewsubtitle {
    margin-top: 1vh;
    max-width: 50vw;

    font-size: 2.5vw;
  }

  .vendor-registration-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .vendor-registration-bg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .vendor-title {
    padding-bottom: 4vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .co-owner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .co-owner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .coowner-title {
    padding-bottom: 6vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .rent-on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .rent-on img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rent-on-title {
    padding-bottom: 6vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }


  .careers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .careers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .careers-title {
    padding-bottom: 5vh;
    font-family: "DDINPRO";
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /* investment */
  .hero-bottom-wrap {
    flex-direction: row;
    gap: 2vh;
    bottom: 2vh;
    padding: 0 2vw;
    width: 100%;
  }

  .aboutus-title {
    font-size: 6vw;
    margin-top: -4vw;
    text-shadow: 16px 16px 32px rgba(0, 0, 0, 0.6);
    line-height: 30px;
  }

  .InveHero-title {
    margin-top: -5vw;
    margin-left: 0vw;
    color: #fff;
    text-shadow: 0 0 100px #000;
    font-family: "DDINPRO";
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .circle-gifs {
    position: absolute;
    width: 200px;
    max-width: none;
    left: 35%;
    top: 0%;
    transform: translate(-50%, -50%);
  }

  .circle-elements {
    position: relative;
    background-color: #ffffff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    margin-right: 5vw;
  }

  .hero-bottom-wrapoverview {
    position: absolute;
    bottom: -1vh;
    left: 0vw;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    z-index: 5;
  }
}
