.rt-wrapper {
  display: flex;
}

/* LEFT CONTENT */
.rt-left {
  width: 45%;
  padding: 0vw 6vw;
  position: relative;
}

.rt-number {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.rt-number h1 {
  font-size: 6vw;
  font-weight: 700;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #cc3a3a;
  margin-top: 0;
}
.rt-title {
  width: 100%;
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
  margin-top: 0vw;
}

.rt-subtitle {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -3.3vw;
  margin-bottom: 0vw;
}

.rt-text {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.rt-section-title {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -1vw;
  margin-bottom: -0.5vw;
}
.rt-section-titlee {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -1vw;
  margin-bottom: -0.5vw;
  border-bottom: 2px solid #e12d36;
}

.rt-list {
  margin-top: 1vw;
  padding-left: 1.2vw;
}

.rt-list li {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
}

/* SPECS */
.rt-specs {
  display: flex;
  flex-direction: column;
  gap: 0vw;
  margin-top: 0vw;
}

.spec-block h5 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 17px;
  line-height: 1.8;
  margin-top: 0.5vw;
  margin-bottom: -1vw;
}

.spec-block p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
}

.spec-block span {
  font-weight: 400;
}
/* RIGHT IMAGE */
.rt-right {
  width: 47%;
  background: #6a6a6a;
  position: relative; /* IMPORTANT */
  display: flex;
  align-items: center;
  overflow: visible; /* allow outside */
}

.rt-image-box {
  position: absolute;
  left: -4vw; /* background chya baher */
  top: 50%;
  transform: translateY(-50%);
}

.rt-image-box img {
  width: 70%;
  height: auto;
  border: 2px solid #e8e8e8;
  padding: 1vw;
  display: block;
}

@media (min-width: 320px) and (max-width: 480px) {

  /* WRAPPER */
  .rt-wrapper {
    flex-direction: column;
    padding: 0 5vw;
  }

  /* LEFT CONTENT */
  .rt-left {
    width: 100%;
    padding: 0;
  }

  .rt-number {
    gap: 2vw;
  }

  .rt-number h1 {
   font-size: 8vw;
    -webkit-text-stroke: 1px #cc3a3a;
  }

  .rt-title {
    margin-top: 7vw;
     font-size: 5vw;
    line-height: 1.6;
  }

  .rt-subtitle {
    font-size: 5.5vw;
    margin-bottom: 0vw;
      line-height: 1.5;
  }

  .rt-text {
    font-size: 4vw;
    line-height: 1.5;
  }

  .rt-section-title,
  .rt-section-titlee {
    font-size: 5.5vw;
    margin-bottom: 0vw;
      line-height: 1.5;
  }

  /* LIST */
  .rt-list {
    padding-left: 5vw;
    margin-top: 2vw;
  }

  .rt-list li {
    font-size: 4vw;
    line-height: 1.5;
  }

  /* SPECS */
  .rt-specs {
 font-size: 4vw;
    padding: 1vw 0;
  }

  .spec-block h5 {
    font-size: 5vw;
    line-height: 1.5;
    margin-bottom: 1vw;
  }

  .spec-block p {
    font-size: 4vw;
    line-height: 1.4;
  }

  /* RIGHT IMAGE */
  .rt-right {
    justify-content: center;
     width: 90%;
    padding: 4vw;
    margin-top: 2vw;
  }

  .rt-image-box {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .rt-image-box img {
    width: 93%;
    margin: 0;
    padding: 2vw;
  }
}
