.ws-wrapper {
  display: flex;
}

/* LEFT CONTENT */
.ws-left {
  width: 45%;
  padding: 0 6vw;
}

.ws-header {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: 1vw;
}

.ws-section-number {
  font-size: 5vw;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #cc3a3a;
}

.ws-section-title {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
}

.ws-description {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.ws-subheading {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 20px;
  margin-top: 1vw;
  color: #282828;
}

.ws-list {
  margin-top: 0.5vw;
}

.ws-list li {
  font-family: "DDINPRO";
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

/* RIGHT IMAGE */
.ws-right {
  width: 55%;
  background: #5a5a5a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ws-right img {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin-right: 12vw;
}

.specs-sub {
  margin-left: 35vw;
  font-size: 15px;
  color: #555;
}
