/* .raw-wrapper {
  padding: 40px 60px;
  font-family: "Inter", sans-serif;
  color: #000;
} */

/* Header */
.raw-header {
 background: #5f5f5f;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.raw-header h1 {
   font-family: 'DDINPRO';
  font-size: 100px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  line-height: 1;
  margin-top: 1.7vw;
  margin-left: 1.5vw;
}

.raw-header p {
   font-family: 'DDINPRO';
  font-size: 44px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -4vw;
  line-height: 1.2;
  margin-left: 1.5vw;
}

/* Arrow */
.raw-arrow-shape {
   position: relative;
  width: 120px;
  height: 180px;
  background: #f2f2f2;
  clip-path: polygon(
    0% 0%,
    70% 0%,
    100% 50%,
    70% 100%,
    0% 100%,
    30% 50%
  );
  margin-left: 1vw;
  margin-top: -1.2vw;
}

.raw-arrow-shape::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3262f;
  clip-path: polygon(
    0% 0%,
    70% 0%,
    100% 50%,
    70% 100%,
    0% 100%,
    30% 50%
  );
  z-index: -1;
}

.tablle-center{
    padding: 6vh 6vw;
}
.table-title {
     font-family: 'DDINPRO';
    color: #000000;
  font-size: 40px;
  font-weight: 700;
}

/* Table */
.table-wrapper {
  overflow-x: auto;
  margin-bottom: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
    color: #ffffff;
    font-size: 14px;
     font-family: 'DDINPRO';
  background: #676767;
  padding: 15px 5px;
  border: 1px solid #BCBCBC;
  text-align: center;
  font-weight: 300;
}

tbody td {
    width: 5%;
    font-size: 16px;
    color: #000000;
     font-family: 'DDINPRO';
  padding: 15px 5px;
  border: 1px solid #BCBCBC;
  text-align: center;
  background: #fff;
}
