
.agitator-wrapper {
 display: grid;
  grid-template-columns: 40% 60%;
  padding: 7vw 0vw ;
  gap: 60px;
}

.agitator-left {
  background: #5f5f5f;
  padding: 40px;
  width: 40vw;
}

.agitator-left img {
  /* border: 2px solid #E8E8E8; */
    padding: 1vw;
    margin-top: 45vw;
    margin-left: 15vw;
  width: 80%;
  height: auto;
  display: block;
}

.agitator-right {
  position: relative;
  width: 41vw;
  margin-left: 12vw;
  margin-top: -1vw;
}
.agitator-head{
   display: flex;
    align-items: center;
    gap: 2vw;
}
.agitator-head h1{
    font-size: 5vw;
  font-weight: 700;
  color: transparent;                 /* no fill */
  -webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #cc3a3a;
}
.agitator-title {
  font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
}

.agitator-subtitle {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -2.3vw;
  margin-bottom: 0vw;
}

.agitator-right p {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: 15px;
}

.agitator-right ul {
  padding-left: 1.2vw;
  margin-bottom: 1.2vw;
}

.agitator-right li {
   font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.spec-title {
  margin-top: 2vw;
}

.spec-grid {
  display: flex;
  flex-direction: column;
 
}

.spec-grid p {
   display: flex;
  justify-content: space-between;
  align-items: center;
 font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 15px;
  line-height: 1;
}

.spec-value {
  font-weight: 600;
}
