
/* .biogas-container-two {
  width: 100%;
  background: #ffffff;
} */

/* HEADER */
.biogas-header-two {
 background: #5f5f5f;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.header-arrow-two {
  position: relative;
  width: 120px;
  height: 180px;
  background: #f2f2f2;
  clip-path: polygon(
    0% 0%,
    70% 0%,
    100% 50%,
    70% 100%,
    0% 100%,
    30% 50%
  );
  margin-left: 1vw;
  margin-top: -1.2vw;
}

.biogas-header-two h1 {
   font-family: 'DDINPRO';
  font-size: 100px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  line-height: 1;
  margin-top: 1.7vw;
  margin-left: 1.5vw;
}

.biogas-header-two p {
   font-family: 'DDINPRO';
  font-size: 44px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -4.7vw;
  line-height: 1.2;
  margin-left: 1.5vw;
}

/* CONTENT */
.biogas-content-two {
 display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 2vw 11vw;
}

/* LEFT */
.biogas-left-two h3 {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -15px;
}

.biogas-left-two p {
 font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: 20px;
}

.image-box {
  /* border: 1px solid #ccc; */
  /* padding: 15px; */
  text-align: center;
}

.image-box img {
  width: 145%;
  /* max-width: 320px; */
  height: 100%;
}

/* RIGHT */
.biogas-right-two h3 {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -15px;
}

.biogas-right-two h4 {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -15px;
  margin-top: 0.5vw;
}

.biogas-right-two p {
font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: 2px;
}

.biogas-right-two ul {
  margin-left: -18px;
  margin-bottom: -10px;
  margin-top: 0vw;
}

.biogas-right-two li {
 font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
  /* margin-bottom: 20px; */
}

