.sensorsystem-wrapper {
  display: flex;
}

/* LEFT */
.sensorsystem-left {
  width: 45%;
  padding: 0vw 6vw;
  position: relative;
}

.sensorsystem-heading {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: -1vw;
}

.sensorsystem-number {
  font-size: 6vw;
  font-weight: 700;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #cc3a3a;
  margin-top: -1.8vw;

}

.sensorsystem-heading h2 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
      margin-bottom: 1vw;
}

.sensorsystem-description {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

/* SPECIFICATIONS */
.sensorsystem-left h5 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.8;
  color: #282828;
}

.sensorsystem-specs h5 {
  border-bottom: 2px solid #e12d36;
  margin-top: 1vw;
  margin-bottom: 0;
}

.sensorsystem-specs p {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -0.6vw;
}

/* RIGHT */
.sensorsystem-right {
  width: 47%;
  background: #6a6a6a;
  position: relative;
  display: flex;
  align-items: center;
}

.sensorsystem-right img {
  position: absolute;
  left: -5vw;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  padding: 1vw;
  display: block;
}

@media (min-width: 320px) and (max-width: 480px) {

  /* WRAPPER */
  .sensorsystem-wrapper {
    flex-direction: column;
    padding: 0 5vw;
  }

  /* LEFT CONTENT */
  .sensorsystem-left {
      width: 100%;
    padding: 0;
  }

  /* HEADING */
  .sensorsystem-heading {
    gap: 2vw;
  }

  .sensorsystem-number {
    font-size: 8vw;
    -webkit-text-stroke: 1px #cc3a3a;
  }

  .sensorsystem-heading h2 {
     margin-top: 0vw;
     font-size: 5vw;
    line-height: 1.6;
  }

  /* DESCRIPTION */
  .sensorsystem-description {
   font-size: 4vw;
    line-height: 1.5;
  }

  /* SPECS */
  .sensorsystem-left h5 {
   font-size: 5.5vw;
    margin-bottom: 0vw;
      line-height: 1.5;
  }

  .sensorsystem-specs h5 {
   font-size: 5.5vw;
    margin-bottom: 0vw;
      line-height: 1.5;
  }

  .sensorsystem-specs p {
     font-size: 4vw;
    line-height: 1.5;
  }

  /* RIGHT IMAGE */
  .sensorsystem-right {
    justify-content: center;
     width: 90%;
    padding: 4vw;
    margin-top: 2vw;
  }

  .sensorsystem-right img {
    position: static;
    transform: none;
    width: 100%;
    padding: 0;
  }
}
