/* .energy-section {
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #333;
} */

/* ---------- HEADER ---------- */
.energy-header {
 background: #5f5f5f;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.energy-arrow-shape {
  position: relative;
  width: 120px;
  height: 180px;
  background: #f2f2f2;
  clip-path: polygon(
    0% 0%,
    70% 0%,
    100% 50%,
    70% 100%,
    0% 100%,
    30% 50%
  );
  margin-left: 1vw;
  margin-top: -1.2vw;
}

.energy-arrow-shapee::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3262f;
  clip-path: polygon(
    0% 0%,
    70% 0%,
    100% 50%,
    70% 100%,
    0% 100%,
    30% 50%
  );
  z-index: -1;
}

/* Text */
.header-text {
  display: flex;
  flex-direction: column;
}

.outline-text {
  font-family: 'DDINPRO';
  font-size: 100px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  line-height: 1;
  margin-top: 1.7vw;
  margin-left: 1.5vw;
}

.header-text h3 {
    font-family: 'DDINPRO';
  font-size: 44px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -4vw;
  line-height: 1.2;
  margin-left: 1.5vw;
}

/* ---------- CONTENT ---------- */
.energy-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 2vw 11vw;
}

.energy-content p {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #2E2E2E;
  margin-bottom: 2px;
}
.sep-para{
    padding: 0vh 11vw;
     font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #2E2E2E;
  margin-bottom: 7vw;

}
.right-content h4 {
  color: #282828;
  margin: 25px 0 12px;
   font-family: 'DDINPRO';
  font-size: 2vw;
  font-weight: 700;
}

.right-content ul {
  padding-left: 18px;
  margin-bottom: 20px;
}

.right-content ul li {
  color: #282828;
     font-family: 'DDINPRO';
  font-size: 17px;
  line-height: 1.8;
  font-weight: 700;
}
