.reactor-wrapper {
  display: flex;
}

/* LEFT */
.reactor-left {
  width: 45%;
  padding: 0vw 6vw ;
  position: relative;
}

.reactor-title {
  font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
}

.reactor-no{
     display: flex;
    align-items: center;
    gap: 2vw;
}
.reactor-no h1 {
   font-size: 5vw;
  font-weight: 700;
  color: transparent;                 
  -webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #cc3a3a;
}

.reactor-no h2 {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
}
.reactor-left p {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.reactor-left h4 {
   font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -1.5vw;
  margin-bottom: -1vw;
}
.reactor-left h5{
     font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
   margin-top: -1vw;
  margin-bottom: -1vw;
   border-bottom: 2px solid #E12D36;
}

.reactor-left ul {
  padding-left: 1.2vw;
  margin-bottom: 2vw;
}

.reactor-left ul li {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

/* SPEC GRID */
.spec-grid {
  display: grid;
  gap: 0.6vw 2vw;
  margin-top: 1vw;
 
}

.spec-grid p {
 display: flex;
  justify-content: space-between;
  align-items: center;
 font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 15px;
  line-height: 1;
   padding: 0 0;
}

.spec-grid span {
  font-weight: 600;
}

/* RIGHT */
.reactor-right {
  width: 47%;
  background: #6a6a6a;
  position: relative;          /* IMPORTANT */
  display: flex;
  align-items: center;
  overflow: visible;   
}

.reactor-right img {
     position: absolute;
  left: -5vw;                 /* background chya baher */
  top: 50%;
  transform: translateY(-50%);
 width:80%;
  height: auto;
  padding: 1vw;
  display: block;
}


