/* WRAPPER */
.appendices-wrapper {
  width: 100%;
  background: #ffffff;
}

/* HEADER */
.appendices-header {
  background: #5f5f5f;
  display: flex;
  align-items: flex-start;
  position: relative;
}

/* ARROW */
.appendices-arrow {
  width: 120px;
  height: 180px;
  margin-left: 1vw;
  margin-top: -1.2vw;
}

/* TITLE */
.appendices-title {
  font-family: "DDINPRO";
  font-size: 90px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  line-height: 1;
}

/* IMAGE SECTION */
.appendices-image-section {
  padding: 4vw 0vw;
  background: #ffffff;
}

.appendices-image-section img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
