
.hero-banner {
  background: #5f5f5f;
  display: flex;
  align-items: flex-start;
  position: relative;
}

/* Arrow Shape */
.arrow-shapee {
  position: relative;
  width: 120px;
  height: 180px;
  background: #f2f2f2;
  clip-path: polygon(
    0% 0%,
    70% 0%,
    100% 50%,
    70% 100%,
    0% 100%,
    30% 50%
  );
  margin-left: 1vw;
  margin-top: -1.2vw;
}

/* PERFECT DARK RED BORDER */
.arrow-shapee::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3262f;
  clip-path: polygon(
    0% 0%,
    70% 0%,
    100% 50%,
    70% 100%,
    0% 100%,
    30% 50%
  );
  z-index: -1;
}



/* Hero Text */
.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-title-outline {
    font-family: 'DDINPRO';
  font-size: 100px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  line-height: 1;
  margin-top: 1.7vw;
  margin-left: 1.5vw;
}

.hero-title-solid {
    font-family: 'DDINPRO';
  font-size: 44px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -4vw;
  line-height: 1.2;
  margin-left: 1.5vw;
}

/* ---------- CONTENT ---------- */
.content-wrapper {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 11vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.content-column p {
     font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #676767;
  margin-bottom: 2px;
}

.content-column strong {
     font-family: 'DDINPRO';
  color: #3a3a3a;
  font-weight: 600;
}