.appendix-wrapper {
  width: 100%;
  background: #ffffff;
  font-family: "DDINPRO";
}

.table-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* HEADER */
.appendix-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 6vw 0vw;
}

.appendix-title {
  font-size: 3.8vw;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.appendix-subtitle {
  font-size: 2vw;
  font-weight: 600;
  margin-top: 0.6vw;
  color: #000000;
}

/* RED ARROWS */
.appendix-arrows {
  display: flex;
  gap: 1vw;
}

.appendix-arrow-btn {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #e12d36;
  color: #ffffff;
  border: none;
  font-size: 1.6vw;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* COMMON */
.arrow-hover-group {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

/* HOVER TEXT */
.arrow-hover-text {
  font-size: 1.1vw;
  font-weight: 300;
  color: #000000;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease;
}

/* LEFT ARROW ANIMATION */
.arrow-left .arrow-hover-text {
  transform: translateX(8px);
}

.arrow-left:hover .arrow-hover-text {
  opacity: 1;
  transform: translateX(0);
}

/* RIGHT ARROW ANIMATION */
.arrow-right .arrow-hover-text {
  transform: translateX(-8px);
}

.arrow-right:hover .arrow-hover-text {
  opacity: 1;
  transform: translateX(0);
}

/* TABLE */
.appendix-table-container {
  padding: 0 6vw 4vw;
}

.appendix-table {
  border-collapse: collapse;
  table-layout: auto;
  width: max-content;
  min-width: 100%;
}

.appendix-table thead th {
  background: #6f6f6f;
  color: #ffffff;
  font-size: 1.6vw;
  font-weight: 600;
  padding: 1.6vw 1.8vw;
  text-align: left;
  white-space: nowrap;
}

.appendix-table td {
  padding: 1.2vw 1.8vw;
  border-bottom: 1px solid #d6d6d6;
  white-space: nowrap;
}

.appendix-table thead th:nth-child(2),
.appendix-table thead th:nth-child(3) {
  text-align: center;
}

.appendix-table tbody td {
  font-size: 1.5vw;
  padding: 1.5vw 1.8vw;
  border-bottom: 1px solid #d6d6d6;
  text-align: left;
}

.appendix-highlight {
  background-color: #ffe533;
  font-weight: 600;
  color: #000;
}

/* Equipment Name column width increase */
.appendix-table th:first-child,
.appendix-table td:first-child {
  min-width: 55vw;
}

/* Center align 2, 3, 4, 5, 6 columns in tbody */
.appendix-table tbody td:nth-child(2),
.appendix-table tbody td:nth-child(3),
.appendix-table tbody td:nth-child(4),
.appendix-table tbody td:nth-child(5),
.appendix-table tbody td:nth-child(6) {
  text-align: center;
}
