.window-wrapper {
 display: flex;
}

/* LEFT SIDE */
.window-left {
  width: 45%;
  padding: 0vw 6vw ;
  position: relative;
}

.window-number {
   display: flex;
    align-items: center;
    gap: 2vw;
    margin-bottom: -4vw;
}
.window-number h1{
      font-size: 5vw;
  font-weight: 700;
  color: transparent;                 
  -webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #cc3a3a;
}

.window-title {
  font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
}

.window-subtitle {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
   margin-bottom: -0.5vw;
}

.window-left p {
 font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.window-left h5 {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
   margin-bottom: -1.5vw;
    margin-top: -0.5vw;
}

.window-left ul {
  margin-top: 1vw;
  padding-left: 4vw;
}

.window-left ul li {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.window-spec {
  margin-top: 0vw;
 }

.window-spec h2 {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
   margin-top: -1vw;
  margin-bottom: -0.5vw;
    border-bottom: 2px solid #E12D36;  
}

.window-spec p {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -1vw;
}

/* RIGHT SIDE */
.window-right {
  width: 47%;
  background: #6a6a6a;
  position: relative;          /* IMPORTANT */
  display: flex;
  align-items: center;
  overflow: visible;   
}

.image-boxx img {
  position: absolute;
  left: -5vw;                 /* background chya baher */
  top: 50%;
  transform: translateY(-50%);
 width:80%;
  height: auto;
  padding: 1vw;
  display: block;
}
