.automation-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 5vw 0vw;
  gap: 60px;
}

/* LEFT IMAGE AREA */
.automation-image-box {
  background: #5f5f5f;
  padding: 40px;
  width: 40vw;
  display: flex;
  align-items: center;
}

.automation-image-box img {
  margin-left: 6vw;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* RIGHT CONTENT */
.automation-content {
  position: relative;
  width: 41vw;
  margin-left: 10vw;
  margin-top: -1vw;
}

/* BIG NUMBER */
.automation-number {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: -4vh;
}

.automation-number h1 {
  font-size: 5vw;
  font-weight: 700;
  font-family: "DDINPRO";
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #cc3a3a;
}

/* HEADINGS */
.automation-content h2 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #282828;
}

.automation-content h5 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin: 0;
}

/* TEXT */
.automation-content p {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: 15px;
}

/* LISTS */
.automation-content ul {
  padding-left: 2.5vw;
  margin-bottom: 1vw;
}

.automation-content ul li {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

/* SPECS */
.automation-spec-title {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.8;
  color: #282828;
  border-bottom: 2px solid #e12d36;
}

.automation-specs {
  margin-top: 1vw;
}

.automation-specs p {
  display: flex;
  justify-content: space-between;
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #282828;
  margin: 0;
}

.automation-specs span {
  font-weight: 500;
}
