
.compressor-wrapper {
 display: grid;
  grid-template-columns: 40% 60%;
  padding: 5vw 0vw ;
  gap: 60px;
}

/* LEFT IMAGE AREA */
.compressor-image-box {
  background: #5f5f5f;
  padding: 40px;
  width: 40vw;
}

.compressor-image-box img {
    margin-top: 18vw;
    margin-left: 6vw;
  width: 100%;
  height: auto;
  display: block;
}

/* RIGHT CONTENT */
.compressor-content {
   position: relative;
  width: 41vw;
  margin-left: 12vw;
  margin-top: -1vw;
}

/* BIG NUMBER */
.compressor-number {
     display: flex;
    align-items: center;
    gap: 2vw;
}
.compressor-number h1{
     font-size: 5vw;
  font-weight: 700;
   font-family: 'DDINPRO';
  color: transparent;                 /* no fill */
  -webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #cc3a3a;
}

/* HEADINGS */
.compressor-content h2 {
  font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #282828;
}

.compressor-content h4 {
 font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -2vw;
  margin-bottom: -1vw;
}

.compressor-content h5 {
  font-family: 'DDINPRO';
font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -1vw;
  margin-bottom: -1vw;
}

/* TEXT */
.compressor-content p {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: 15px;
}

/* LISTS */
.compressor-content ul {
  padding-left: 2.5vw;
  margin-bottom: 1vw;
}

.compressor-content ul li {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

/* SPECS */
.spec-title {
  font-family: 'DDINPRO';
font-weight: 700;
  font-size: 22px;
  line-height: 1.8;
  color: #282828;
   margin-top: -1vw;
  margin-bottom: 0vw;
   border-bottom: 2px solid #E12D36;
}

.specs {
  margin-top: 1vw;
}

.specs p {
  display: flex;
  justify-content: space-between;
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #282828;
   margin-bottom: -1.2vw;
}

.specs span {
  font-weight: 500;
}
