.flare-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 5vw 0vw;
  gap: 60px;
}

/* LEFT IMAGE AREA */
.flare-image-box {
  background: #5f5f5f;
  padding: 40px;
  width: 40vw;
}

.flare-image-box img {
  margin-top: 5.5vh;
  margin-bottom: 6vh;
  margin-left: 6vw;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* RIGHT CONTENT */
.flare-content {
  position: relative;
  width: 41vw;
  margin-left: 12vw;
  margin-top: -1vw;
}

/* BIG NUMBER */
.flare-number {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.flare-number h1 {
  font-size: 5vw;
  font-weight: 700;
  font-family: "DDINPRO";
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #cc3a3a;
}

/* HEADINGS */
.flare-content h2 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #282828;
}

.flare-content h4 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -2vw;
  margin-bottom: -1vw;
}

.flare-content h5 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  color: #282828;
  margin-top: -1vw;
  margin-bottom: -1vw;
}

/* TEXT */
.flare-content p {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: 15px;
}

/* LISTS */
.flare-content ul {
  padding-left: 2.5vw;
  margin-bottom: 1vw;
}

.flare-content ul li {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

/* SPECS */
.flare-spec-title {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.8;
  color: #282828;
  margin-top: -1vw;
  margin-bottom: 0vw;
  border-bottom: 2px solid #e12d36;
}

.flare-specs {
  margin-top: 1vw;
}

.flare-specs p {
  display: flex;
  justify-content: space-between;
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -1.2vw;
}

.flare-specs span {
  font-weight: 500;
}
