/* ===== Animation for Text ===== */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ===== Animation for Arrow ===== */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animations */
.animate-text {
  animation: slideInLeft 1s ease forwards;
}

.animate-arrow {
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

/* WRAPPER */
.appendices-wrapper {
  width: 100%;
  background: #ffffff;
}

/* HEADER */
.appendices-header {
  background: #5f5f5f;
  display: flex;
  align-items: flex-start;
  position: relative;
}

/* ARROW */
.arrow-indexa {
  position: relative;
  width: 120px;
  height: 180px;
  background: #f2f2f2;
  clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%, 30% 50%);
  margin-left: 1vw;
  margin-top: -1.2vw;
}

.arrow-indexa::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3262f;
  clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%, 30% 50%);
  z-index: -1;
}

/* TITLE */
.appendices-title {
  font-family: "DDINPRO";
  font-size: 90px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  line-height: 1;
  margin-top: 1.7vw;
  margin-left: 1.5vw;
}

/* IMAGE SECTION */
.appendices-image-section {
  padding: 4vw 0vw;
  background: #ffffff;
}

.appendices-image-section img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


/* ================= MOBILE RESPONSIVE ================= */
@media (min-width: 320px) and (max-width: 480px) {

  /* WRAPPER */
  .appendices-wrapper {
    width: 100%;
  }

  /* HEADER */
  .appendices-header {
   flex-direction: row;
    align-items: center;
    padding: 2vw 0vw;
    gap: 3vw;
  }

  /* ARROW */
  .arrow-indexa {
   width: 80px;
    height: 120px;
    margin-left: 0;
    margin-top: -7vw;
  }

  /* TITLE */
  .appendices-title {
   font-size: 8vw;
    -webkit-text-stroke: 1px #ffffff;
    margin-top: 1vw;
    margin-left: 0;
  }

  /* IMAGE SECTION */
  .appendices-image-section {
    padding: 4vw 4vw;
  }

  .appendices-image-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
