.desul-wrapper {
  display: flex;
}

.desul-left {
  width: 45%;
  padding: 0vw 6vw;
  position: relative;
}

.section-number {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: -1vw;
}
.section-number h1 {
  font-size: 5vw;
  font-weight: 700;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #cc3a3a;
}
.section-title {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
}

.section-subtitle {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -0.5vw;
  margin-top: -2vw;
}

.desul-left p {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.desul-left h5 {
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -0.5vw;
  margin-top: -1vw;
}

.desul-left h6 {
  margin-bottom: 1vw;
  margin-top: -1vw;
  font-family: "DDINPRO";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8;
  color: #282828;
}

.advantages {
  margin-top: 0.5vw;
  /* padding-left: 1.2vw; */
}

.advantages li {
  font-family: "DDINPRO";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

/* RIGHT IMAGE */
.desul-right {
  width: 50%;
  background: #5a5a5a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desul-right img {
  width: 90%;
  margin-right: 12vw;
  height: auto;
  object-fit: cover; 
}
