.dryer-wrapper {
 display: flex;
}

.dryer-left {
  width: 45%;
  padding: 0vw 6vw ;
  position: relative;
}
.dryer-heading {
  display: flex;
    align-items: center;
    gap: 2vw; 
    margin-bottom: -1vw;
}

.dryer-number {
  font-size: 6vw;
  font-weight: 700;
  color: transparent;                 
  -webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #cc3a3a;
     margin-top: -0.5vw;
}

.dryer-heading h2 {
   font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
      margin-bottom: 0vw;
}

.sub-heading {
  font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
   margin-bottom: -0.5vw;
       margin-top: 1.5vw;
}

.description {
 font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.dryer-left h5 {
  font-family: 'DDINPRO';
font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: #282828;
   margin-bottom: -0.5vw;
   margin-top: -1vw;
}

ul {
  padding-left: 1.2vw;
  margin-top: 0.5vw;
}

ul li {
 font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #282828;
}

.specs h5{
     font-family: 'DDINPRO';
font-weight: 700;
  font-size: 22px;
  line-height: 1.8;
  color: #282828;
   margin-top: -1vw;
  margin-bottom: 0vw;
   border-bottom: 2px solid #E12D36;
}

.specs p {
   display: flex;
  justify-content: space-between;
   font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #282828;
  margin-bottom: -1vw;
}

.specs span {
  font-weight: 600;
}

.dryer-right {
   width: 47%;
  background: #6a6a6a;
  position: relative;          /* IMPORTANT */
  display: flex;
  align-items: center;
  overflow: visible;   
}

.dryer-right img {
  position: absolute;
  left: -5vw;                 /* background chya baher */
  top: 50%;
  transform: translateY(-50%);
 width:100%;
  height: auto;
  padding: 1vw;
  display: block;
}

@media (min-width: 320px) and (max-width: 480px) {

  /* WRAPPER */
  .dryer-wrapper {
   flex-direction: column;
    padding: 0 5vw;
  }

  /* LEFT */
  .dryer-left {
   width: 100%;
    padding: 0;
  }

  .dryer-heading {
    gap: 2vw;
  }

  .dryer-number {
   font-size: 8vw;
    -webkit-text-stroke: 1px #cc3a3a;
  }

  .dryer-heading h2 {
    margin-top: 0vw;
     font-size: 5vw;
    line-height: 1.6;
  }

  .sub-heading {
   font-size: 5.5vw;
    margin-bottom: 0vw;
      line-height: 1.5;
  }

  .description {
   font-size: 4vw;
    line-height: 1.5;
  }

  .dryer-left h5 {
   font-size: 5.5vw;
    margin-bottom: 0vw;
      line-height: 1.5;
  }

  ul {
    padding-left: 5vw;
    margin-top: 2vw;
  }

  ul li {
     font-size: 4vw;
    line-height: 1.5;
  }

  /* SPECS */
  .specs h5 {
    font-size: 5vw;
    line-height: 1.5;
    margin-bottom: 1vw;
  }

  .specs p {
   font-size: 4vw;
    line-height: 1.4;
  }

  /* RIGHT */
  .dryer-right {
    justify-content: center;
     width: 90%;
    padding: 4vw;
    margin-top: 2vw;
  }

  .dryer-right img {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    width:100%;
    padding:  0vw 2vw;
  }
}
