/* .tech-wrapper {
  width: 100%;
  font-family: Arial, sans-serif;
} */

/* ---------- HEADER ---------- */
.tech-header {
background: #5f5f5f;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.tech-arrow-shape {
   position: relative;
  width: 120px;
  height: 180px;
  background: #f2f2f2;
  clip-path: polygon(
    0% 0%,
    70% 0%,
    100% 50%,
    70% 100%,
    0% 100%,
    30% 50%
  );
  margin-left: 1vw;
  margin-top: -1.2vw;
}

.tech-titlee h1 {
   font-family: 'DDINPRO';
  font-size: 100px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  line-height: 1;
  margin-top: 1.7vw;
  margin-left: 1.5vw;
}

.tech-titlee p {
  font-family: 'DDINPRO';
  font-size: 44px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -4vw;
  line-height: 1.2;
  margin-left: 1.5vw;
}

/* ---------- CONTENT ---------- */
.tech-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 2vw 11vw;
}

.tech-content p{
    margin-top: -3vw;
     font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  color: #2E2E2E;
}
.tech-wrapper h3 {
padding: 0vw 11vw;
  font-family: 'DDINPRO';
     font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
}


.tech-columns p {
  font-family: 'DDINPRO';
     font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  color: #2E2E2E;
  margin-bottom: 2px;
  margin-top: -3vw;
}
