.contactussection-wrapper {
  height: 20vh;
  background: #d2d2d2;
  display: flex;
  align-items: center;
  padding: 8vh 5vw;
  position: relative;
  /* transform: translateY(-20vh); */
}

.contactussection-left-shape {
  margin-right: 2vw;
  position: relative;
  top: -8vh;
}

.contactussection-shape-img {
  width: 140px;
  height: auto;
  object-fit: contain;
}

.contactussection-content {
  display: flex;
  flex-direction: column;
  transform: translateY(-10vh);
}

.contactussection-title {
  font-size: 60px;
  font-weight: 700;
  color: #252525;
  margin-bottom: 0vh;
  position: relative;
  left: -10vh;
  margin-top: 10vh;
}

.contactussection-title span {
  color: #e12d36;
}

.contactussection-subtext {
  margin-top: 1vh;
  font-size: 18px;
  color: #25252599;
  width: 22vw;
}
