.contact-info-container {
  display: flex;
  justify-content: space-between;
  padding: 15vh 15vw;
  font-family: 'DDINPRO';
  color: #282828;
}

.contact-left,
.contact-right {
  flex: 1;
}

.contact-left {
  margin-right: 40px;
}

.contact-label {
  font-size: 18px;
  margin: 10px 0 4px 0;
  color: #282828;
}

.contact-email {
  display: inline-block;
  font-size: 26px;
  color: #e12d36;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 3vh;
  text-decoration: none;
}

.contact-right .contact-label {
  font-size: 18px;
  margin-bottom: 4px;
}

.contact-right .contact-email {
  color: #e12d36;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-phone-label {
  color: #282828;
  font-size: 60px;
  margin-top: 35vh;
}

.contact-phone {
  color: #e12d36;
  font-size: 60px;
  font-weight: bold;
  margin-top: 5px;
}
