/* WRAPPER */
.gdimpax-container {
   font-family: 'DDINPRO';
  padding: 5vh 0;
  background: #ffffff;
} 

/* TITLE */
.gdimpax-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* SUBTITLE */
.gdimpax-subtitle {
 margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 25vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* TABLE WRAPPER */
.gdimpax-table-wrapper {
  width: 100%;
}

/* TABLE */
.gdimpax-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
/* HEADER (BACKGROUND FULL WIDTH) */
.gdimpax-table th {
  background: #e12d36;
  color: #ffffff;
  text-align: left;
  padding: 1.5vh 1.39vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  padding-left: 5vw;
  border-right: none;
   font-style: normal;
  line-height: normal;
  font-family: "DDINPRO";
}



/* TABLE CELLS */
.gdimpax-table td {
      padding: 0vh 1vw;
  vertical-align: top;
  border-right: 1px solid #e0e0e0;
   font-style: normal;
  line-height: normal;
  font-family: "DDINPRO";
  font-size: 1vw;
  font-weight: 400;
  color: #000;
}

/* LAST TD NO BORDER */
.gdimpax-table td:last-child {
  border-right: none;
}

/* LINKS */
.gdimpax-table td a {
  display: block;
  font-size: 1vw;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
  padding: 1vh 3.9vw;
   font-style: normal;
  line-height: normal;
  font-family: "DDINPRO";
  font-weight: 400;

}

.gdimpax-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

/* OVERVIEW COLUMN LINK */
.gdimpax-overview-link {
  font-size: 20px;
  font-weight: 600;
}

/* SOLUTIONS COLUMN LINKS */
.gdimpax-sol-col a {
  margin-bottom: 6px;
}

/* COLUMN WIDTHS */
.gdimpax-table th:nth-child(1),
.gdimpax-table td:nth-child(1) {
  width: 22%;
}

.gdimpax-table th:nth-child(2),
.gdimpax-table td:nth-child(2) {
  width: 30%;
}

.gdimpax-table th:nth-child(3),
.gdimpax-table td:nth-child(3) {
  width: 58%;
}
