.pi-section {
  display: flex;
  width: 100%;
  padding: 5vh 5vw;
  gap: 60px;
  box-sizing: border-box;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

/* LEFT BOX */
.pi-left-box {
  width: 55%;
  background: #676767;
  padding: 14vh 4vw;
  color: #ffffff;
  position: relative;
}

.pi-quote-icon {
   font-family: 'DDINPRO';
  font-size: 40px;
  color: red;
  margin-bottom: 20px;
}

.pi-left-text {
  width: 25vw;
   font-family: 'DDINPRO';
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.4;
}

/* RIGHT CONTENT */
.pi-right-content {
  color: #707070;
  width: 45%;
  padding: 5vh 4vw;
}

.pi-heading {
   font-family: 'DDINPRO';
  color: #000000;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.pi-small-text {
   font-family: 'DDINPRO';
  font-size: 20px;
  color: #707070;
  margin-bottom: 18px;
  line-height: 1.5;
}

.pi-bold {
   font-family: 'DDINPRO';
  font-size: 28px;
  font-weight: 700;
  color: #707070;
}

.pi-red-line {
   font-family: 'DDINPRO';
  color: #E12D36;
  font-size: 40px;
  font-weight: 700;
  margin: 25px 0;
  line-height: 1.4;
}

.proudlyimg {
  width: 70px;
  margin-top: 4vh;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  /* MAIN WRAPPER */
  .pi-section {
    /* border: 2px solid red; */
    flex-direction: column;       /* stack left and right boxes */
    padding: 3vh 4vw;
    gap: 4vh;
    /* margin-top: 3vh;
    margin-bottom: 10vh; */
  }

  /* LEFT BOX */
  .pi-left-box {
    width: 90%;
    padding: 8vh 4vw;             /* reduced padding */
    background: #676767;
  }

  .pi-quote-icon {
    font-size: 28px;              /* reduced from 40px */
    margin-bottom: 12px;
  }

  .pi-left-text {
    width: 100%;
    font-size: 18px;              /* reduced from 28px */
    line-height: 1.5;
    margin-bottom: 20px;
  }

  /* RIGHT CONTENT */
  .pi-right-content {
    width: 100%;
    padding: 4vh 2vw;
  }

  .pi-heading {
    font-size: 32px;              /* reduced from 60px */
    margin-bottom: 15px;
  }

  .pi-small-text {
    font-size: 16px;              /* reduced from 20px */
    margin-bottom: 12px;
    line-height: 1.5;
  }

  .pi-bold {
    font-size: 20px;              /* reduced from 28px */
  }

  .pi-red-line {
    font-size: 28px;              /* reduced from 40px */
    margin: 15px 0;
    line-height: 1.3;
  }

  .proudlyimg {
    width: 50px;                  /* reduced from 70px */
    margin-top: 2vh;
  }
}

