.pi-section {
  display: flex;
  width: 100%;
  padding: 5vh 5vw;
  gap: 60px;
  box-sizing: border-box;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

/* LEFT BOX */
.pi-left-box {
  width: 55%;
  background: #676767;
  padding: 14vh 4vw;
  color: #ffffff;
  position: relative;
}

.pi-quote-icon {
  font-family: "DDINPRO";
  font-size: 40px;
  color: red;
  margin-bottom: 20px;
}

.pi-left-text {
  font-family: "DDINPRO";
  font-size: 2.8vw;
  margin-bottom: 4vh;
  line-height: 1.4;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* RIGHT CONTENT */
.pi-right-content {
  color: #707070;
  width: 45%;
  padding: 5vh 4vw;
}

.pi-heading {
  font-family: "DDINPRO";

  margin: 0;

  color: #2e2e2e;

  font-size: 5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pi-small-text {
  font-family: "DDINPRO";

  color: #707070;

  line-height: 1.5;

  font-size: 1.8vw;
  font-style: normal;
  font-weight: 400;
}

.pi-bold {
  font-family: "DDINPRO";
  font-size: 2vw;
  font-weight: 700;
  color: #707070;
}

.pi-red-line {
  font-family: "DDINPRO";
  font-weight: 700;
  margin: 25px 0;
  line-height: 1;
  color: #e12d36;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
}

.proudlyimg {
  width: 70px;
  margin-top: 4vh;
}
