/* Overall wrapper */
.vision-wrapper {
  padding: 5vh 0vw;
  display: flex;
  padding-bottom: 0vh;
}

.visioninner-wrapper {
  background: #6e6e6e;
  width: 50%;
  padding: 5vh 4vw;
  position: relative;
  overflow: visible;
}

/* Title */
.vision-title {
  color: #ffffff;
  margin: 0vh 1.5vw;
  font-size: 40px;
  font-weight: 600;
  font-family: 'DDINPRO';
  margin-bottom: 1vh;
}

/* TOP IMAGES ROW */
.vision-top {
  display: flex;
  justify-content: space-between;
  gap: 4vw;
  position: relative;
  overflow: visible;
}

.vision-box {
  position: relative;
  padding: 0;
  background: transparent;
  overflow: visible;
  z-index: 3;
}

.bamboo-box {
  z-index: 4;
}

.bee-box {
  z-index: 10;
  padding: 5vh 0vw;
}

/* Image sizes */
.vision-image {
  width: 580px;
  height: 600px;
  object-fit: cover;
}

/* PLANETS SECTION */
.vision-bottom {
  margin-top: 40px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.planets-box {
  width: 100%;
  z-index: 12;
  position: relative;
}

.planets-img {
  width: 90vw;
  height: 40vh;
  object-fit: cover;
  margin-bottom: 4vh;
}

/* Extra for planets text */
.planets-text {
  font-family: 'DDINPRO';
  font-size: 1.2rem;
}
/* Bamboo Wrapper With Custom Border */
.bamboo-border-box {
  position: relative;
  display: inline-block;
  padding: 5vh 5vw;
}

/* FULL RIGHT & BOTTOM BORDER */
.bamboo-border-box::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  pointer-events: none;
}

/* HALF TOP & HALF LEFT BORDER */
.bamboo-border-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: 4px solid white;
  border-left: 4px solid white;

  pointer-events: none;
}

.bamboo-img {
  width: 540px;
  height: 600px;
  object-fit: cover;
  display: block;
}
