/* Main Wrapper */
.tech-container {
  font-family: "DDINPRO";
  padding: 5vh 0vw;
  background: #ffffff;
}

/* Title */
.tech-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* Subtitle */
.tech-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 25vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* Table Wrapper */
.tech-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Table */
.tech-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0px !important; /* removes extra gap */
  font-size: 1vw;
}

/* Table Header */
.tech-table thead th {
  background-color: #e12d36;
  color: #ffffff;
  text-align: start;
  padding: 2vh 0vw;
  font-weight: 700;
  border: none;
  font-size: 1.3vw;
  padding-left: 5vw;
  font-family: "DDINPRO";
  font-style: normal;
line-height: normal;
}


/* ---------------------------- */
/* Column Width Reduced */
/* ---------------------------- */
.tech-table td:first-child,
.tech-table th:first-child {
  width: 22%; /* reduced from 30% */
}

.tech-table td:nth-child(2),
.tech-table th:nth-child(2) {
  width: 78%;
}

/* Body Cells */
.tech-table tbody td {
  padding: 1vh 0vw !important; /* converted to vh */
  border: none; /* remove all borders initially */
  color: #000;
  border-right: 0.1vw solid #e0e0e0;
  font-family: "DDINPRO";
}

.tech-table tbody td:last-child {
  border-right: none; /* remove border from last column */
}

/* ---------------------------- */
/* INVESTMENT STYLE LINKS */
/* ---------------------------- */

.tech-table td a {
  font-size: 1vw;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  display: block;
  padding: 0.5vh;
  border-radius: 0.4vw;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5vw;
  text-align: start;
  font-family: "DDINPRO";
}

.tech-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

/* Remove extra left padding in column 2 */
.tech-table td:nth-child(2) {
  padding-left: 0 !important;
}
