/* Main Wrapper */
.tech-container {
   font-family: 'DDINPRO';
  padding: 5vh 0vw;
  background: #ffffff;
}

/* Title */
.tech-title {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0vh;
  margin-left: 5vw; 
}

/* Subtitle */
.tech-subtitle {
  font-size: 18px;
  color: #B5B5B5;
  margin-bottom: 4vh;
  margin-left: 5vw; 
  width: 24vw;
}

/* Table Wrapper */
.tech-table-wrapper {
  width: 100%;
  overflow-x: auto;
  
}

/* Table */
.tech-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0px !important;  /* removes extra gap */
  font-size: 18px;
}

/* Table Header */
.tech-table thead th {
  background-color: #E12D36;
  color: #FFFFFF;
  text-align: start;
  padding:  10px;
  font-weight: 600;
  border: none;
  font-size: 18px;
  padding-left: 5vw;
}

/* ---------------------------- */
/* Column Width Reduced */
/* ---------------------------- */
.tech-table td:first-child,
.tech-table th:first-child {
  width: 22%;    /* reduced from 30% */
}

.tech-table td:nth-child(2),
.tech-table th:nth-child(2) {
  width: 78%;
  
}

/* Body Cells */
.tech-table tbody td {
  padding: 0.5vh 0.3vw !important;   /* reduced vertical & horizontal padding */
  border: none;
  color: #000000;
  border-right: 1px solid #e0e0e0;
}

/* ---------------------------- */
/* INVESTMENT STYLE LINKS */
/* ---------------------------- */

.tech-table td a {
  font-size: 16px;
  color: #2c3e50;
  text-decoration: none;
  display: block;
  padding: 4px;
  border-radius: 4px;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5vw;
}

.tech-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

/* Remove extra left padding in column 2 */
.tech-table td:nth-child(2) {
  padding-left: 0 !important;
  /* border-left: 1px solid #d8d8d8; */
}
