/* Wrapper */
.agri-container {
  font-family: "DDINPRO";
  padding: 5vh 0;
  background: #ffffff;
}

/* Title */
.agri-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* Subtitle */
.agri-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 25vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* Table Wrapper */
.agri-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Table */
.agri-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 1vw;
}

/* Headings */
.agri-table thead th {
  background: #d63333;
  color: #ffffff;
  text-align: left;
  padding: 1.04vh 1.39vw;
  font-size: 1.3vw;
  font-weight: 600;
  border: none;
  padding-left: 5vw;
  border-right: none; 
}

/* Column Widths */
.agri-table th:first-child,
.agri-table td:first-child {
  width: 20%;
}

.agri-table th:nth-child(2),
.agri-table td:nth-child(2) {
  width: 38%;
}

.agri-table th:nth-child(3),
.agri-table td:nth-child(3) {
  width: 42%;
}

/* Body Cells */
.agri-table tbody td {
  padding: 2vh 0vw;
  vertical-align: top;
  border-right: 1px solid #e0e0e0;
  font-size: 1vw;
}

.agri-table tbody td:last-child {
  border-right: none;
}

/* LINKS */
.agri-table td a {
  display: block;
  padding: 0.5vh 5vw;
  margin-bottom: 1vh;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

.agri-table td a:hover {
  color: #3498db;
  background: #e8f4fd;
  border-radius: 4px;
}
