/* Wrapper */
.agri-container {
  font-family: 'DDINPRO';
  padding: 5vh 0;
  background: #ffffff;
}

/* Title */
.agri-title {
  font-size: 40px;
  font-weight: 500;
  color: #000;
  margin-left: 5vw;
  margin-bottom: 0;
}

/* Subtitle */
.agri-subtitle {
  font-size: 18px;
  color: #B5B5B5;
  margin-left: 5vw;
  margin-bottom: 4vh;
  width: 30vw;
}

/* Table Wrapper */
.agri-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Table */
.agri-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 18px;
}

/* Headings */
.agri-table thead th {
  background-color: #E12D36;
  color: #fff;
  text-align: left;
  padding: 12px;
  padding-left: 5vw;
  font-weight: 600;
  border: none;
}

/* Column Widths */
.agri-table th:first-child,
.agri-table td:first-child {
  width: 20%;
}

.agri-table th:nth-child(2),
.agri-table td:nth-child(2) {
  width: 38%;
}

.agri-table th:nth-child(3),
.agri-table td:nth-child(3) {
  width: 42%;
}

/* Body Cells */
.agri-table tbody td {
  padding: 2vh 0vw;
  vertical-align: top;
     border-right: 1px solid #e0e0e0; 
}

/* LINKS */
.agri-table td a {
  display: block;
  padding: 0.5vh 5vw;
  margin-bottom: 1vh;
  font-size: 16px;
  color:  #000000;
  text-decoration: none;
  transition: 0.3s;
}

.agri-table td a:hover {
  color: #3498db;
  background: #e8f4fd;
  border-radius: 4px;
}
