.anand-kranti-main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5vh 6vw;
  gap: 2vw;
}

/* IMAGE WRAPPER */
.image-wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.top-grey-block,
.bottom-grey-block {
  width: 100%;
  height: 20vh;
  background: #d9d9d9;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* RIGHT TEXT SECTION */
.text-section {
  width: 50%;
  padding-left: 3vw;
}

.atitle-text {
      width: 20vw;
      font-family: 'DDINPRO';
    font-size: 60px;
    font-weight: 400;
  color: #707070;
  margin: 0;
  line-height: 1.3;
}

.shrimant{
    font-size: 36px;
    color: #FF7700;
    font-family: 'DDINPRO';

}

.orange-title {
  font-family: 'DDINPRO';
  font-size: 28px;
  font-weight: 700;
  color: #FF7700;
  margin-top: 2vh;
}

.adescription-text {
  width: 31vw;
  margin-top: 3vh;
  color: #707070;
  font-size: 23px;
  font-family: 'DDINPRO';
  line-height: 1.4;
  text-align: left;
  font-weight: 400;
}

.blue-text {
  font-family: 'DDINPRO';
  font-size: 30px;
  color: #0982FE;
  font-weight: 600;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .anand-kranti-main-container {
    /* border:  2px solid red; */
    flex-direction: column;
    padding: 4vh 4vw;
    gap: 4vh;
  }

  /* IMAGE SECTION */
  .image-wrapper {
    width: 100%;
  }

  .top-grey-block,
  .bottom-grey-block {
    height: 14vh;        /* Smaller grey blocks on mobile */
  }

  .main-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* TEXT SECTION */
  .text-section {
    width: 100%;
    padding-left: 0;
    margin-top: 2vh;
  }

  .atitle-text {
    width: 100%;
    font-size: 32px;     /* Reduced from 60px */
    line-height: 1.2;
    text-align: left;
  }

  .shrimant {
    font-size: 26px;     /* Reduced from 36px */
  }

  .orange-title {
    font-size: 22px;     /* Reduced from 28px */
    margin-top: 1.5vh;
  }

  .adescription-text {
    width: 100%;
    margin-top: 2vh;
    font-size: 16px;     /* Reduced from 23px */
    line-height: 1.6;
  }

  .blue-text {
    font-size: 22px;      /* Reduced from 30px */
  }
}
