/* ---------- TOP POINTS ---------- */
.top-points ul {
  font-size: 18px;
  list-style: disc;
  /* margin-bottom: 4vh; */
  padding-left: 20px;
  margin-top: 0vh;
}

.top-points li {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 12px;
   font-family: 'DDINPRO';
  color: #676767;
}

/* ---------- MAIN WRAPPER ---------- */
.business-roles-wrapper {
  padding: 5vh 5vw;
}

/* ---------- GRID ---------- */
.roles-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  margin-top: 5vh;
}

/* ---------- COMMON CARD ---------- */
.role-card {
  padding: 2vh 1vw;
  color: #ffffff;
   font-family: 'DDINPRO';
  min-height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ---------- INNER BORDER BOX ---------- */
.role-inner-border {
  border: 2px solid #ffffff; /* WHITE BORDER */
  padding: 1vh 1.5vw;
  border-radius: 8px; /* OPTIONAL */
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

/* ---------- TITLE ---------- */
.role-title {
   font-family: 'DDINPRO';
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 2vh;
  font-weight: 600;
}

/* ---------- TEXT ---------- */
.role-text,
.role-list li {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.role-list {
  padding-left: 20px;
}

.role-list li {
  margin-bottom: 8px;
}

/* ---------- CARD COLORS ---------- */
.role-red {
  background: #ea647d;
}

.role-yellow {
  background: #e6bd7b;
}

.role-blue {
  background: #03a0d0;
}

.role-orange {
  background: #feb903;
}
