.careergd-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5vh 5vw;
  gap: 5vw;
}

.careergd-left {
  display: flex;
  flex-direction: column;
}

.careergd-title {
  width: 50vw;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  color: #282828;
  margin-bottom: 5vh;
  margin-top: 0vh;
}

.careergd-link-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.careergd-link {
  font-size: 20px;
  font-weight: 500;
  color: #252525cc;
  text-decoration: underline;
  cursor: pointer;
}

.careergd-arrow-btn {
  width: 55px;
  height: 55px;
  background: #d63131;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
}

.careergd-right {
  display: flex;
  flex-direction: column;
}

.careergd-para {
  font-size: 18px;
  line-height: 1.6;
  color: #252525cc;
}
