/* ------------------------------
   Main Container
--------------------------------*/
.catalogue-container {
   font-family: 'DDINPRO';
  padding: 5vh 0vw;
  background: #ffffff;
}

/* ------------------------------
   Title + Subtitle
--------------------------------*/
.catalogue-title {
  font-size: 42px;
  font-weight: 500;
  color:#000000;
  margin-bottom: 0vh;
   margin-left: 5vw;
}

.catalogue-subtitle {
  font-size: 18px;
  color: #B5B5B5;
  margin-bottom: 4vh;
 width: 25vw;
  line-height: 1.4;
   margin-left: 5vw;
}

/* ------------------------------
   Table Wrapper
--------------------------------*/
.catalogue-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* ------------------------------
   Table
--------------------------------*/
.catalogue-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0 !important;
  font-size: 18px;
}

/* ------------------------------
   Table Header
--------------------------------*/
.catalogue-table thead th {
  background: #D92C33;
  color: #FFFFFF;
  text-align: left;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  padding-left: 5vw;
}

/* Column Widths (Figma Exact Ratio) */
.col-overview {
  width: 15%;
}

.col-solutions {
  width: 55%;
}

/* ------------------------------
   Table Body
--------------------------------*/
.catalogue-table tbody td {
  padding: 0.5vh 0vw;
  border: none;
  color: #000000;
  font-size: 16px;
    padding-left: 5vw; 
    border-right: 1px solid #e0e0e0;
}

/* Vertical Divider Between Columns */
.catalogue-table tbody td:nth-child(2) {
  /* border-left: 1px solid #d7d7d7; */
  padding-left: 5vw;
}

/* ------------------------------
   Link Styling Inside TD
--------------------------------*/
.catalogue-table td a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 17px;
  display: block;
  padding: 4px 0px;
  /* transition: 0.2s ease-in-out; */
  padding-left: 0;
}

/* Hover effect (Figma clean underline) */
.catalogue-table td a:hover {
   background-color: #e8f4fd;
  color: #3498db;
}
