.consent-note-wrapper {
  width: 100%;
  background-color: #595959;
  padding: 15px 0;
  text-align: center;
}

.consent-note-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0vh 7vw;
}
