.consent-note-wrapper {
  width: 100%;
  background-color: #595959;
  padding: 2vw 0;
  text-align: center;
}

.consent-note-text {
 color: #FFF;
text-align: center;
font-family: 'DDINPRO';
font-size: 1.8vw;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.64px;
  margin: 0;
  padding: 0vh 7vw;
}
