/* MAIN WRAPPER */
.construction-container {
  font-family: "DDINPRO";
  padding: 5vh 0;
  background: #ffffff;
}

/* TITLE */
.construction-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* SUBTITLE */
.construction-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 54vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* TABLE */
.construction-table-wrapper {
  width: 100%;
}

.construction-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1vw;
  table-layout: fixed;
}

/* HEADER BAR */
.construction-header th {
  background: #e12d36;
  color: #ffffff;
  text-align: left;
  padding: 1.5vh 1.39vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  padding-left: 5vw;
  border-right: none;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
}

/* COLUMN WIDTHS */
.overview-col {
  width: 20%;
}

.solutions-col {
  width: 30%;
}

.products-col {
  width: 50%;
}

/* CELLS */
.construction-table td {
  font-size: 1vw;
  padding: 4px 5vw;
  vertical-align: top;
  border: none;
  border-right: 1px solid #e0e0e0;
  font-family: "DDINPRO";
  font-style: normal;
  color: #000;
  line-height: normal;
  font-weight: 400;
}

.construction-table td:last-child {
  border-right: none;
}

/* LINKS */
.construction-table td a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 3px 0;
  transition: 0.3s;
  font-family: "DDINPRO";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1vw;
}

.construction-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}
