.contact-section-container-longLease {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-top-text-longLease {
  text-align: start;
  margin-top: 4vh;
  margin-bottom: 4vh;
  line-height: 1.6;
}

.green-textvendor-longLease {
  color: #26b526;
  font-size: 40px;
  font-weight: 600;
  margin-top: 0vh;
}

.contactform-wrapper-longLease {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* RED SIDE LINES */
.red-bars-longLease {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 0;
}

.red-bars-left-longLease {
  top: 5vh;
  left: 0;
}

.red-bars-right-longLease {
  bottom: 5vh;
  right: 0;
  flex-direction: column-reverse;
}

.red-linevendor-longLease {
  width: 90vw;
  height: 7vh;
  background: #e12d36;
  border-radius: 4px;
}

/* OUTER GREY FRAME */
.form-outer-frame-longLease {
  background: #5e5e5e;
  padding: 8vh 4vw;
  width: 55%;
  position: relative;
  z-index: 1;
}

.form-outer-frame-longLease::before {
  content: "";
  position: absolute;
  top: 3vh;
  left: 1.5vw;
  right: 1.5vw;
  bottom: 3vh;
  border: 3px solid #ffffff;
  pointer-events: none;
  z-index: 2;
}

/* INNER WHITE FRAME */
.form-inner-frame-longLease {
  background: #fff;
  padding: 4vh 4vw;
  border-radius: 4px;
  position: relative;
  z-index: 3;
}

.contact-form-longLease input,
.contact-form-longLease textarea {
  width: 96%;
  border: 2px solid #676767;
  padding: 12px 12px;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  color: #000;
  background: #fff;
}

.contact-form-longLease button {
  width: 100%;
  border-radius: 20px;
  border: 2px solid #676767;
  background: #fff;
  font-size: 15px;
  cursor: pointer;
  padding: 0.7vh 0vw;
  margin-top: 4vh; 
}

/* SUBMIT BUTTON */
.submit-btn-longLease {
  position: relative;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #676767;
  font-size: 1rem;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  transition: color 0.3s ease;
}

.submit-btn-longLease::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #e12d36;
  border-radius: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 0;
}

.submit-btn-longLease:hover::before {
  transform: translateY(0);
}

.submit-btn-longLease span,
.submit-btn-longLease .arrow-longLease {
  position: relative;
  z-index: 1;
}

.arrow-longLease {
  opacity: 0;
  transform: translateX(-8px);
  background-color: #fff;
  color: #e12d36;
  padding: 8px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.submit-btn-longLease:hover .arrow-longLease {
  opacity: 1;
  transform: translateX(0);
}

.submit-btn-longLease:hover {
  color: #fff;
}

/* POPUP */
.popup-overlay-longLease {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box-longLease {
  width: 55%;
  background: #fff;
  padding: 4vh 4vw;
  border-radius: 40px;
  position: relative;
  text-align: center;
}

.popup-close-longLease {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup-title-longLease {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 10px;
}

.popup-sub-longLease {
  font-size: 26px;
  margin-bottom: 5px;
}

.popup-text-longLease {
  font-size: 26px;
  line-height: 1.5;
}

.red-x-longLease {
  color: #e12d36;
  font-weight: bold;
}

.popup-done-longLease {
  margin-top: 40px;
  width: 60%;
  padding: 12px 0;
  border-radius: 20px;
  border: 2px solid #ccc;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.popup-done-longLease:hover {
  background: #e2e2e2;
}
