/* MAIN WRAPPER */
.contact-main-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0vh 0vw 0vh 6vw;
}

/* LEFT SIDE */
.contact-left-side {
  width: 40%;
}

.contact-left-img-box {
  position: relative;
  width: 80%;
}

.contact-img {
  width: 100%;
  border-radius: 4px;
  position: relative;
  z-index: 3;
}

.contact-img-border-one {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
  z-index: 1;
}

.contact-img-border-two {
  position: absolute;
  top: -40px;
  left: 40px;
  width: 100%;
  height: 100%;
  background: #5e5e5e;
  z-index: 0;
}

.contact-left-caption {
  font-size: 40px;
  font-weight: 400;
  margin-top: 4vh;
  width: 25vw;
}

/* RIGHT SIDE */
.contact-right-side {
  width: 55%;
}

/* OUTER DARK GREY FRAME */
.contact-frame-outer {
  background: #5e5e5e;
  padding: 8vh 4vw;
  position: relative;
  top: -44px;
  z-index: 1;
}

/* INNER BORDER */
.contact-frame-outer::before {
  content: "";
  position: absolute;
  top: 3vh;
  left: 1.5vw;
  right: 1.5vw;
  bottom: 3vh;
  border: 3px solid #ffffff;
  pointer-events: none;
  z-index: 2;
}

/* INNER WHITE BOX */
.contact-frame-inner {
  background: #fff;
  padding: 4vh 4vw;
  border-radius: 4px;
  position: relative;
  z-index: 3;
}

/* FORM INPUTS */
.contact-form-box input,
.contact-form-box textarea {
  width: 96%;
  border: 2px solid #676767;
  padding: 12px 10px;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  background: #fff;
  color: #000;
}

.row {
  display: flex;
  gap: 15px;
}
.row input:first-child {
  flex: 3;
}
.row input:last-child {
  flex: 1;
}

/* SUBMIT BUTTON */
.submit-btn {
  position: relative;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #676767;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #676767;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  transition: color 0.3s ease;
}

.submit-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #e12d36;
  border-radius: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 0;
}

.submit-btn:hover::before {
  transform: translateY(0);
}

.arrow {
  opacity: 0;
  transform: translateX(-8px);
  background-color: #fff;
  color: #e12d36;
  padding: 8px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.submit-btn:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}

.submit-btn:hover {
  color: #fff;
}

/* POPUP */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box {
  width: 55%;
  background: #fff;
  padding: 4vh 4vw;
  border-radius: 40px;
  position: relative;
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 10px;
}

.popup-sub {
  font-size: 26px;
  margin-bottom: 5px;
}

.popup-text {
  font-size: 26px;
  line-height: 1.5;
}

.red-x {
  color: #e12d36;
  font-weight: bold;
}

.popup-done {
  margin-top: 40px;
  width: 60%;
  padding: 12px 0;
  border-radius: 20px;
  border: 2px solid #ccc;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.popup-done:hover {
  background: #e2e2e2;
}
