.customerservice-wrapper {
 height: 20vh;
  background: #d2d2d2;
  display: flex;
  align-items: center;
  padding: 8vh 5vw;
  position: relative;
  transform: translateY(-20vh);
}

/* LEFT SHAPE IMAGE */
.customerservice-left-shape {
  margin-left: -2.5vw;
  position: relative;
  top: -4.5vh;
}

/* TEXT SECTION */
.customerservice-content {
   display: flex;
  flex-direction: column;
  transform: translateY(-8vh);
margin-top: 5vw;
}

.customerservice-titlemain {
 color: #252525;
font-family: 'DDINPRO';
font-size: 5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
  margin-bottom: 0vh;
  position: relative;
  left: -12vh;
}

.customerservice-titlemain span {
color: #E12D36;
font-family: 'DDINPRO';
font-size: 5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.customerservice-subtext {
 color: rgba(37, 37, 37, 0.60);
font-family: 'DDINPRO';
font-size: 1.5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
