/* Main Wrapper */
.download-container {
  font-family: "DDINPRO";
  padding: 5vh 0vw;
  background: #ffffff;
}

/* Title */
.download-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* Subtitle */
.download-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 25vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* Table Wrapper */
.download-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Table */
.download-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.25vw;
  font-weight: 300;
  color: #000;
  border: none;
}

/* Table Header */
.download-table thead th {
  background: #e12d36;
  color: #ffffff;
  text-align: left;
  padding: 2vh 1vw;
  padding-left: 5vw;
  font-size: 1.3vw;
  font-weight: 600;
}

/* Table Cells */
.download-table td {
  font-size: 1vw;
  padding: 1.39vh 0vw;
  vertical-align: top;
  padding-left: 5vw;
  border: none;
   font-family: "DDINPRO";
  font-style: normal;
line-height: normal;
}


.download-table td:first-child {
  width: 25%;
  border-right: 0.1vw solid #e0e0e0;
  border-left: none;
  border-top: none;
  border-bottom: none;
}


.download-table td:last-child {
  border: none;
}

/* Links */
.download-table td a {
  text-decoration: none;
  color: #000;
  transition: 0.2s ease;
  display: inline-block;
  padding: 0.35vh 0.7vw;
  font-size: 1vw;
  font-weight: 400;
   font-family: "DDINPRO";
  font-style: normal;
line-height: normal;
}

.download-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}
