/* ===== Container ===== */
.faq-wrapper {
  position: relative;
  top: -10vh;
  padding: 0vh 6.5vw;
  
}

/* ===== Title ===== */
.faq-title {
  margin-top: 0vh;
 color: #000;
 font-family: 'DDINPRO';
font-size: 2.8vw;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

/* ===== Subtitle ===== */
.faq-subtitle {
 color: #000;
font-family: 'DDINPRO';
font-size: 2vw;
font-style: normal;
font-weight: 500;
line-height: 39.6px; /* 123.75% */
  margin-bottom: 50px;
  margin-top: -1vw;
}

/* ===== Grid Layout ===== */
.faq-grid {
  padding: 0vh 3vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;

  /* ---- Center Cards ---- */
  justify-items: center;
}
.faq-card:last-child {
  grid-column: 2 / 3;
}
/* ===== Cards ===== */
.faq-card {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 300px;
  height: 150px;
border-radius: 10px;
border: 1px solid #E12D36;
background: #E12D36;
  padding: 45px 20px;

  text-align: center;

 color: #FFF;
 font-family: 'DDINPRO';
font-size: 2.5vw;
font-style: normal;
font-weight: 600;
line-height: normal;

  cursor: pointer;
  transition: 0.3s ease;
}

.faq-card:hover {
border-radius: 10px;
border: 1px solid #E12D36;
background: #E12D36;
  background: #ffffff;
  color: #e12d36;
  transform: translateY(-4px);
}
