/* ===== Container ===== */
.faq-wrapper {
  position: relative;
  top: -10vh;
  padding: 0vh 5vw;
   font-family: 'DDINPRO';
}

/* ===== Title ===== */
.faq-title {
  margin-top: 0vh;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* ===== Subtitle ===== */
.faq-subtitle {
  width: 60vw;
  font-size: 28px;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 50px;
}

/* ===== Grid Layout ===== */
.faq-grid {
  padding: 0vh 7vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;

  /* ---- Center Cards ---- */
  justify-items: center;
}

/* ===== Cards ===== */
.faq-card {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 26px;
  width: 300px;
  height: 150px;

  background: #e12d36;
  color: #ffffff;
  padding: 45px 20px;

  text-align: center;
  border-radius: 8px;

  font-size: 22px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s ease;
}

.faq-card:hover {
  border: 2px solid #e12d36;
  background: #ffffff;
  color: #e12d36;
  transform: translateY(-4px);
}
