/* Main Wrapper */
.gdmart-container {
   font-family: 'DDINPRO';
  padding: 5vh 0;
  background: #ffffff;
}

/* Title */
.gdmart-title {
  font-size: 40px;
  font-weight: 500;
  color: #000;
  margin-left: 5vw;
  margin-bottom: 1vh;
}

/* Subtitle */
.gdmart-subtitle {
  width: 55vw;
  font-size: 18px;
  color: #707070;
  margin-left: 5vw;
  margin-bottom: 5vh;
}

/* Table Wrapper */
.gdmart-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Table */
.gdmart-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 18px;
}

/* Table Header */
.gdmart-table thead th {
  background-color: #E12D36;
  color: #fff;
  text-align: start;
  padding: 12px 0;
  padding-left: 5vw;
  font-weight: 600;
  font-size: 18px;
}

/* LEFT COLUMN */
.left-col {
  width: 20%;
  vertical-align: top;
  padding-top: 1vh;
  padding-left: 5vw;
}

/* LEFT COLUMN LINK */
.left-link {
  font-size: 18px;
  color: #2c3e50;
  text-decoration: none;
  padding: 8px 0;
  display: block;
  border-radius: 4px;
  transition: 0.3s;
}

.left-link:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

/* RIGHT COLUMN CELLS */
.gdmart-table td {
  padding: 1vh 0;
      border-right: 1px solid #e0e0e0;
}

/* RIGHT COLUMN LINKS */
.gdmart-table td a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 1vh 5vw;
  border-radius: 4px;
  transition: 0.3s;
}

/* Hover effect (same as Technology) */
.gdmart-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}


.gdmart-table td:first-child,
.gdmart-table th:first-child {
  width: 30%;  
}

.gdmart-table td:nth-child(2),
.gdmart-table th:nth-child(2) {
  width: 70%;  
}

