/* Main Wrapper */
.gdmart-container {
  font-family: "DDINPRO";
  padding: 5vh 0;
  background: #ffffff;
}

/* Title */
.gdmart-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* Subtitle */
.gdmart-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 54vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* Table Wrapper */
.gdmart-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Table */
.gdmart-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 1vw;
}

/* Table Header */
.gdmart-table thead th {
  background: #e12d36;
  color: #ffffff;
  text-align: left;
  padding: 1.5vh 1.39vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  padding-left: 5vw;
  border-right: none;
  font-style: normal;
  line-height: normal;
  font-family: "DDINPRO";
}

/* LEFT COLUMN */
.left-col {
  width: 20%;
  vertical-align: top;
  padding-top: 1vh;
  padding-left: 5vw;
}

/* LEFT COLUMN LINK */
.left-link {
  font-size: 1vw;
  color: #000;
  text-decoration: none;
  padding: 8px 0;
  display: block;
  border-radius: 4px;
  transition: 0.3s;
}

.left-link:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

/* RIGHT COLUMN CELLS */
.gdmart-table td {
  padding: 1vh 0;
  border-right: 1px solid #e0e0e0;
  font-style: normal;
  line-height: normal;
  font-family: "DDINPRO";
  font-size: 1vw;
  font-weight: 400;
  color: #000;
}

/* RIGHT COLUMN LINKS */
.gdmart-table td a {
  font-size: 1vw;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 0vh 5vw;
  border-radius: 4px;
  transition: 0.3s;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-family: "DDINPRO";
}

.gdmart-table td:last-child {
  border-right: none;
}

/* Hover effect (same as Technology) */
.gdmart-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

.gdmart-table td:first-child,
.gdmart-table th:first-child {
  width: 30%;
}

.gdmart-table td:nth-child(2),
.gdmart-table th:nth-child(2) {
  width: 70%;
}
