.gd-position-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5vw 6vw 2vw 6vw;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0vh;
}

/* LEFT SIDE TITLE */
.gd-position-title {
 color: #282828;
font-size: 4.8vw;
font-style: normal;
font-weight: 400;
line-height: 90px; /* 125% */
  margin: 0;
   font-family: 'DDINPRO';
}

/* RIGHT SIDE TEXT */
.gd-position-right {
  width: 26vw;
}

.gd-position-desc {
 color: rgba(37, 37, 37, 0.80);
font-family: 'DDINPRO';
font-size: 1.5vw;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 125% */
letter-spacing: 0.64px;

}

.gd-position-learn {
  color: rgba(37, 37, 37, 0.80);
font-family: 'DDINPRO';
font-size: 1.5vw;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 125% */
letter-spacing: 0.64px;
}
