/* MAIN WRAPPER */
.hc-container {
   font-family: 'DDINPRO';
  padding: 5vh 0;
  background: #ffffff;
}

/* TITLE */
.hc-title {
  font-size: 40px;
  font-weight: 500;
  margin-left: 5vw;
  color: #000;
}

/* SUBTITLE */
.hc-subtitle {
  width: 55vw;
    color: #777;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-size: 18px;
    line-height: 1.45;
}

/* TABLE WRAPPER */
.hc-table-wrapper {
  width: 100%;
}

/* TABLE */
.hc-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* HEADER */
.hc-table th {
  background: #E12D36;
  padding: 12px 0;
  padding-left: 5vw;
  color: white;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

/* TD */
.hc-table td {
 padding: 10px 2vw;
  vertical-align: top;
     border-right: 1px solid #e0e0e0;

     
  
}

/* LINKS */
.hc-table td a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #333;
  padding-left: 5vw;
  margin-bottom: 8px;
  transition: 0.3s ease;
   padding: 1vh 2vw;
}

.hc-table td a:hover {
   background-color: #e8f4fd;
  color: #3498db;
}

/* SOLUTIONS COLUMN LINKS */
.hc-sol-col a {
  margin-bottom: 6px; /* tighter like image */
}

/* TABLE COLUMN WIDTHS */
.hc-table th:nth-child(1),
.hc-table td:nth-child(1) {
  width: 22%;   /* Overview */
}

.hc-table th:nth-child(2),
.hc-table td:nth-child(2) {
  width: 30%;   /* Solutions - biggest */
}

.hc-table th:nth-child(3),
.hc-table td:nth-child(3) {
  width: 58%;   /* Products */
}

