/* MAIN WRAPPER */
.hc-container {
  font-family: "DDINPRO";
  padding: 5vh 0;
  background: #ffffff;
}

/* TITLE */
.hc-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* SUBTITLE */
.hc-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 54vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* TABLE WRAPPER */
.hc-table-wrapper {
  width: 100%;
}

/* TABLE */
.hc-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* HEADER */
.hc-table th {
  background: #e12d36;
  color: #ffffff;
  text-align: left;
  padding: 1.5vh 1.39vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  padding-left: 5vw;
  border-right: none;
  font-family: "DDINPRO";
  font-style: normal;

  line-height: normal;
}

/* TD */
.hc-table td {
  padding: 7px 2vw;
  vertical-align: top;
  border-right: 1px solid #e0e0e0;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
  font-size: 1vw;
  font-weight: 400;
  color: #000;
}

/* LINKS */
.hc-table td a {
  display: block;
  font-size: 1vw;
  text-decoration: none;
  color: #000;
font-family: "DDINPRO";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
  transition: 0.3s ease;
  padding: 1vh 3vw;
}

.hc-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

.hc-table td:last-child {
  border-right: none;
}

/* SOLUTIONS COLUMN LINKS */
.hc-sol-col a {
  margin-bottom: 6px; /* tighter like image */
}

/* TABLE COLUMN WIDTHS */
.hc-table th:nth-child(1),
.hc-table td:nth-child(1) {
  width: 22%; /* Overview */
}

.hc-table th:nth-child(2),
.hc-table td:nth-child(2) {
  width: 30%; /* Solutions - biggest */
}

.hc-table th:nth-child(3),
.hc-table td:nth-child(3) {
  width: 58%; /* Products */
}
