.hero {
 position: relative;
  height: 100vh;
  overflow: hidden;
  margin-top:8vh;
}
.sectionheromainbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  animation: heroZoom 8s ease-in-out infinite;
}

/* Zoom animation */
@keyframes heroZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.hero-content-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
}
.header-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0rem;
  gap: 8vw;
}

.logo-containerhero {
  flex-shrink: 0;
  width: 10vw;
}

.logohero {
  width: 180px;
  height: auto;
  padding: 0vh 2vw;
  animation:
  logoEntry 2.5s ease-out forwards,
  zoomInOut 3s ease-in-out infinite;

  animation-delay: 0s, 2.5s;
}

@keyframes logoEntry {
  0% {
    transform: translate(50vw, 50vh) scale(0.3);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.nav-common {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  margin-top: 7vh;

  animation: navSlideIn 3.5s ease-out forwards;
}

@keyframes navSlideIn {
  0% {
    transform: translateX(100vw); 
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}

.nav-section-common {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-title-common {
  font-size: 18px;
  text-transform: none;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: 'DDINPRO';
  white-space: nowrap;
  margin: 0;
  color: #FFD768;
text-shadow: 0 0 8px rgba(0, 0, 0, 0.50);
font-style: normal;
font-weight: 700;
line-height: normal;
}

.nav-list-common {
  display: flex;
  gap: 2vw;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-list-common li {
   white-space: nowrap;
}

.nav-list-common a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
 font-family: 'DDINPRO';
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.nav-list-common a:hover {
  transform: translateX(5px);
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.hero-bottom-wrapsectionhero {
  position: absolute;
  bottom: 15vh;
  left: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  z-index: 5;
}

.sectionhero-title {
  font-family: 'DDINPRO';
  color: #FFF;
  text-shadow: 4px 0 4px rgba(0, 0, 0, 0.50), 0 4px 4px rgba(0, 0, 0, 0.50), 0 0 8px #000;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;

  position: relative; 
  opacity: 0;         /* Start invisible */
  animation: riseFromCenter 1.2s ease-out forwards; 
  animation-delay: 0.3s; 
}

@keyframes riseFromCenter {
  0% {
    transform: translateY(50vh); /* Start from middle of viewport */
    opacity: 0;
  }
  100% {
    transform: translateY(0);    /* Move to its normal position */
    opacity: 1;
  }
}


.circle-element {
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible; 
  animation: float 3s ease-in-out infinite;
}

.circle-gifhero {
  position: absolute;
  width: 200px;
  max-width: none;
  left: 35%;
  top: 0%;
  transform: translate(-50%, -50%);
}


/* Horizontal line */
.timeline-line {
  position: absolute;
  bottom: 7vh;              /* 👈 inside hero */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.7;
  z-index: 6;
}

/* Dots container */
.timeline-dots {
  position: absolute;
  bottom: 6vh;            /* 👈 slightly above line */
  left: 2.5%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  z-index: 6;
}

/* Individual dots */
.timeline-dot {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.timeline-dot.active {
  transform: scale(1.4);
}
/* Mail icon */
.timeline-mail {
  position: absolute;
  bottom: 0.5vh;
  left: 7%;
  z-index: 6;
}



@media (min-width: 320px) and (max-width: 480px) {

  .hero {
    height: 30vh;
     margin-top: 10vh;
  }

  .logo-containerhero {
    width: 30vw;
  }

  .logohero {
     display: none;
    width: 120px;
    margin-left: 0;
    padding: 1vh 0vw;
  }

  .header-row {
    padding: 0 1rem;
    margin-top: 1vh;
  }

  /* Navigation */
  .nav-common {
    display: none;
    margin-top: 4vh;
    gap: 0.5rem;
  }

  .nav-title-common {
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  .nav-list-common {
    gap: 4vw;
  }

  .nav-list-common a {
    font-size: 12px;
  }

  /* Bottom Title */
  .hero-bottom-wrapsectionhero {
    bottom: 4vh;
    padding: 0 4vw;
  }

  .sectionhero-title {
    font-size: 22px;
    line-height: 1.2;
    max-width: 70%;
  }

  /* Circle GIF */
  .circle-element {
    width: 50px;
    height: 50px;
    border-width: 2px;
  }

  .circle-gifhero {
    position: absolute;
  width: 150px;
  max-width: none;
  left: 35%;
  top: 0%;
  transform: translate(-50%, -50%);
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  .hero {
    height: 60vh;
    margin-top: 9vh;
  }

  .logo-containerhero {
    width: 20vw;
    display: none;
  }

  .logohero {
    width: 150px;
    margin-left: 0;
    padding: 1vh 1vw;
  }

  .header-row {
    padding: 0 1.5rem;
  }

  .nav-common {
    display: none; 
  }

  .sectionhero-title {
    font-size: 32px;
  }

  .hero-bottom-wrapsectionhero {
    bottom: 5vh;
    padding: 0 4vw;
  }

  .circle-element {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .hero {
    height: 70vh;
    margin-top: 10vh;
   
  }

  .logo-containerhero {
    display: none;
    width: 15vw;
  }

  .logohero {
    width: 180px;
  }

  .nav-common {
    display: none;
    margin-top: 8vh;
  }

  .nav-title-common {
    font-size: 16px;
  }

  .nav-list-common a {
    font-size: 14px;
  }

  .sectionhero-title {
    font-size: 40px;
  }

  .circle-element {
    width: 110px;
    height: 110px;
  }
}
/* 
@media screen and (min-width: 1025px) and (max-width: 1366px) {

  .hero {
    height: 90vh;
    margin-top:8vh; 
  }

  .logo-containerhero {
    width: 12vw;
  }

  .logohero {
    width: 200px;
    padding: 0vh 2vw;
  }

  .header-row {
    padding: 4vh 2rem;
  }

  .nav-common {
    display: flex; 
    gap: 2vh;
  }

  .nav-title-common {
    font-size: 16px;
    letter-spacing: 0.6px;
  }

  .nav-list-common {
    gap: 1.8vw;
  }

  .nav-list-common a {
    font-size: 16.5px;
  }

  .hero-bottom-wrapsectionhero {
    bottom: 6vh;
    padding: 0 6vw;
  }

  .sectionhero-title {
    font-size: 60px;
  }

  .circle-element {
  width: 150px;
  height: 150px;
  }

  .circle-gifhero {
    height: 75%;
  }
}

@media screen and (min-width: 1367px) {

  .hero {
    height: 100vh;
    margin-top: 11vh;
  }

  .logo-containerhero {
    width: 10vw;
  }

  .logohero {
    width: 200px;
    padding: 3vh 2vw;
  }

  .header-row {
    padding: 5vh 3rem;
    margin: 0 auto;
  }

  .nav-common {
    display: flex;
    gap: 1.2vh;
    margin-top: 14vh;
  }

  .nav-title-common {
    font-size: 20px;
    letter-spacing: 0.7px;
  }

  .nav-list-common {
    gap: 1vw;
  }

  .nav-list-common a {
    font-size: 17px;
  }

  .hero-bottom-wrapsectionhero {
    bottom: 7vh;
    padding: 0 8vw;
  }

  .sectionhero-title {
    font-size: 60px;
    line-height: 1.1;
  }

  .circle-element {
    width: 160px;
    height: 160px;
  }

  .circle-gifhero {
    height: 80%;
  }
} */



