/* Main Wrapper */
.work-container {
  font-family: "DDINPRO", sans-serif;
  padding: 5vh 0vw;
  background: #ffffff;
}

/* Title */
.work-titlewe {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO", sans-serif;
}

/* Subtitle */
.work-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 25vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO", sans-serif;
}

/* Table Wrapper */
.work-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Table */
.work-tablewe {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.25vw; /* Approximately 18px */
  font-weight: 300;
  color: #1a1a1a;
  border: none;
}

/* Table Header */
.work-tablewe thead th {
  background: #e12d36;
  color: #ffffff;
  text-align: left;
  padding: 2vh 1vw;
  padding-left: 5vw;
  font-size: 1.3vw;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}

/* Table Rows */
.work-tablewe td {
  font-size: 1vw; /* Approximately 16px */
  padding: 0.5vw;
  vertical-align: top;
  border: none;
  padding-left: 5vw;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.work-tablewe td:first-child {
  width: 30%;
  border-left: none;
  border-right: 0.1vw solid #e0e0e0;
}

.work-tablewe td:last-child {
  border: none;
}

/* Links inside TD */
.work-tablewe td a {
  text-decoration: none;
  color: #000;
  transition: 0.2s ease;
  display: inline-block;
  padding: 0.35vh 0.7vw;
  font-size: 1vw;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.work-tablewe td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

/* पहिल्या रो ला पॅडिंग टॉप द्या */
.work-tablewe tbody tr:first-child td {
  padding-top: 2.5vh !important;
}
