/* Main Wrapper */
.work-container {
   font-family: 'DDINPRO';
  padding: 5vh 0vw;
  background: #ffffff;
}

/* Title */
.work-title {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0vh;
   margin-left: 5vw;
}

/* Subtitle */
.work-subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #B5B5B5;
  margin-bottom: 4vh;
   margin-left: 5vw;
   width: 24vw;
}

/* Table Wrapper */
.work-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Table */
.work-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  font-weight: 300;
  color: #1a1a1a;
  border: none;          
}

/* Table Header */
.work-table thead th {
  background: #E12D36; 
  color: #ffffff;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border: none;  
  padding-left: 5vw;        
}

/* Table Rows */
.work-table td {
  font-size: 16px;
  padding: 1.5vh 0vw;
  vertical-align: top;
  border: none;   
  padding-left: 5vw;   
   border-right: 1px solid #e0e0e0;    
}


.work-table td:first-child {
  width: 30%;
  border-left: none;

}

/* Links inside TD */
.work-table td a {
  text-decoration: none;
  color: #000000;
  transition: 0.2s;
}

.work-table td a:hover {
   background-color: #e8f4fd;
  color: #3498db;
}

