.igd-stories {
  display: flex;
  gap: 9vw;
  align-items: stretch;
  padding: 5vh 5vw 0vh 0vw;
  flex-wrap: wrap;
} 

/* LEFT SECTION */
.paraone {
  position: relative;
  flex: 1.2; 
  min-width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;
}

/* Full width & height image */
.full-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Text overlay on left section */
.text-overlay {
  position: absolute;
  top: 16vh;
  left: 0;
  padding: 5vh 0vw 0vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* width: 100%; */
  height: auto;
  color: #ffffff;
  background: rgba(0,0,0,0);
}

/* MAIN HEADING (GD Stories) */
.main-heading {
  font-size: 60px;
  font-weight: 700;
  font-family: 'DDINPRO';
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  gap: 15px;
}

.igdred-line {
  width: 0.5vw;
  height: 7vh;
  background: #E12D36;
  display: inline-block;
}

/* RED QUOTE ICON */
.storiesimg {
  width: 55px;
  margin-bottom: 3vh;
  color: #E12D36;
}

/* SUB HEADING */
.sub-heading {
  line-height: 1.0;
  font-size: 50px;
  font-family: 'DDINPRO';
  font-weight: 700;
  margin-bottom: 3vh;
}

/* SMALL TEXT BELOW SUB HEADING */
.paragraph-one {
  width: 70%;
      font-size: 30px;
    font-weight: 700;
font-family: 'DDINPRO';
  margin-bottom: 1vh;
  text-align: justify;
}

/* RIGHT SECTION */
.paratwo {
  flex: 1; 
  min-width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* RIGHT SIDE PARAGRAPHS */
.paragraph {
  font-weight: 400;
  font-family: 'DDINPRO';
  font-size: 18px;
  margin-bottom: 3vh;
  line-height: 1.6;
  color: #707070;
}

/* FUNDAMENTALS TITLE */
.fundamentals-heading {
  margin-top: 2vh;
  font-family: 'DDINPRO';
  font-size: 20px;
  font-weight: 700;
  color: #444;
}

/* FUNDAMENTALS LIST */
.fundamentals-list li {
  font-family: 'DDINPRO';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  text-align: justify;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .igd-stories {
    flex-direction: column;
    gap: 4vh;
    padding: 2vh 4vw;
    /* border: 2px solid red; */
  }

  /* LEFT SECTION */
  .paraone {
    min-width: 100%;
    flex: none;
    padding: 0;
  }

  /* Image becomes smaller & 100% width */
  .full-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* Overlay text moves down & centered */
  .text-overlay {
    position: absolute;
    top: 10vh;
    left: 0;
    padding: 0 5vw;
    align-items: flex-start;
  }

  /* MAIN TITLE */
  .main-heading {
    font-size: 32px;
    margin-bottom: 2vh;
    gap: 10px;
  }

  .igdred-line {
    width: 2vw;
    height: 4vh;
  }

  /* QUOTE ICON */
  .storiesimg {
    width: 35px;
    margin-bottom: 2vh;
  }

  /* SUB HEADING */
  .sub-heading {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 2vh;
  }

  /* SMALL TEXT */
  .paragraph-one {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2vh;
    text-align: justify;
  }

  /* RIGHT SECTION */
  .paratwo {
    min-width: 100%;
    padding: 0 2vw;
  }

  /* PARAGRAPHS */
  .paragraph {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 2vh;
  }

  /* FUNDAMENTALS TITLE */
  .fundamentals-heading {
    font-size: 18px;
    margin-top: 2vh;
  }

  /* FUNDAMENTALS LIST */
  .fundamentals-list li {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 1vh;
  }
}
