/* ------------ MAIN WRAPPER ------------- */
.sector-container {
  font-family: "DDINPRO";
  padding: 5vh 0;
  background: #fff;
}

/* Title */
.sector-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* Subtitle */
.sector-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 25vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* ------------------ TOP TABS ------------------ */
.sector-top-tabs {
  display: flex;
  gap: 2vw;
  padding-left: 5vw;
  margin-bottom: 2vh;
}

.sector-top-tabs span {
  font-size: 1.2vw;
  color: #e12d36;
  padding-bottom: 6px;
  cursor: pointer;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
}

.sector-top-tabs span.active {
  border-bottom: 2px solid #e12d36;
  font-weight: 700;
}

/* ------------------ TABLE ------------------ */
.sector-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.sector-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 18px;
}

/* Header */
.sector-th {
  background: #e12d36;
  color: #ffffff;
  text-align: left;
  padding: 1.04vh 1.39vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  padding-left: 5vw;
  font-family: "DDINPRO";
  font-style: normal;

  line-height: normal;
}

/* शेवटच्या header ला border नाही */
.sector-table th:last-child {
  border-right: none;
}

/* Column widths */
.sector-table th:first-child,
.sector-table td:first-child {
  width: 15vw;
}

.sector-table th:nth-child(2),
.sector-table td:nth-child(2) {
  width: 18vw;
}

.sector-table th:nth-child(3),
.sector-table td:nth-child(3) {
  width: 24vw;
}

.sector-table th:nth-child(4),
.sector-table td:nth-child(4) {
  width: 18vw;
}

/* Table body cells */
.sector-td {
  padding: 20px 5vw;
  vertical-align: top;
  border: none;
  font-size: 1vw;
  color: #000;
  word-break: break-word;
  border-right: 1px solid #e0e0e0;
  font-family: "DDINPRO";
  font-style: normal;

  line-height: normal;
}

/* शेवटच्या column ला border नाही */
.sector-table td:last-child {
  border-right: none;
}

/* ------------------ LIST BOXES ------------------ */
.cell-list {
  max-height: 45vh;
  overflow-y: auto;
  padding-right: 10px;
}

.cell-list a {
  display: block;
  font-size: 1vw;
  color: #000;
  text-decoration: none;
  padding: 1vh 0vw;
  line-height: 1.4;
  border-radius: 8px;
  text-align: start;
  font-weight: 400;
  font-family: "DDINPRO";
  font-style: normal;

  line-height: normal;
}

.cell-list a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

/* PRODUCTS — No Scroll */
.products-list {
  max-height: none !important;
  overflow-y: visible !important;
}
