.land-wrapper {
  height: 20vh;
  background: #d2d2d2;
  display: flex;
  align-items: center;
  padding: 8vh 5vw;
  position: relative;
  transform: translateY(-20vh);
}

/* LEFT SHAPE IMAGE */
.land-left-shape {
  margin-right: 2vw;
  position: relative;
  top: -8vh;
}

.shape-img {
  width: 140px; 
  height: auto;
  object-fit: contain;
}

/* TEXT SECTION */
.land-content {
  display: flex;
  flex-direction: column;
  transform: translateY(-6vh);
}

.land-title {
  font-size: 60px;
  font-weight: 700;
  color: #252525;
  margin-bottom: 0vh;
  position: relative;
  left: -12vh;
}

.land-title span {
  color: #e12d36;
}

.land-subtext {
  margin-top: 1vh;
  font-size: 18px;
  color: #25252599;
  width: 22vw;
}
