/* Main Wrapper */
.login-container {
  font-family: "DDINPRO";
  padding: 5vh 0;
  background: #ffffff;
}

/* Title */
.login-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* Subtitle */
.login-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 25vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* Table */
.login-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Header */
.login-table thead th {
  background: #d92c33;
  color: #ffffff;
  text-align: left;
  padding: 2vh 1vw;
  padding-left: 5vw;
  font-size: 1.3vw;
  font-weight: 600;
  border-right: none; /* Header ला vertical border नको */
}

.login-table thead th:first-child {
  padding-left: 5vw;
}

/* Header ला border नाही */
.login-table th:not(:last-child) {
  border-right: none;
}

/* Column widths */
.login-table th:nth-child(1),
.login-table td:nth-child(1) {
  width: 25%;
}

.login-table th:nth-child(2),
.login-table td:nth-child(2),
.login-table th:nth-child(3),
.login-table td:nth-child(3),
.login-table th:nth-child(4),
.login-table td:nth-child(4) {
  width: 30%;
}

/* Body cells ला vertical border */
.login-table td:not(:last-child) {
  border-right: 1px solid #dcdcdc;
}

/* Body cells */
.login-table td {
  padding: 12px 1vw;
  vertical-align: middle;
}

.login-table td:first-child {
  padding-left: 5vw;
}

/* Links */
.login-table td a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.login-table td a:hover {
  color: #e12d36;
}
