.longlease-business-roles-wrapper {
 padding: 0vh 4.5vw;
}
.longlease-top-points ul {
  padding-left: 4.2vw;
  margin-top: 0vh;
}

.longlease-top-points li {
 color: #676767;
font-size: 1.9vw;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 166.667% */
  margin-bottom: 3vw;
   font-family: 'DDINPRO';
}

.longlease-roles-grid {
 display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  margin-top: 5vh;
}

.longlease-role-card {
 padding: 2vh 1vw;
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.longlease-role-inner-border {
  border: 2px solid #ffffff; /* WHITE BORDER */
  padding: 1vh 1.5vw;
  border-radius: 8px; /* OPTIONAL */
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.longlease-role-title {
   font-family: 'DDINPRO';
 color: #FFF;
text-align: center;
font-size: 1.8vw;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.8px;
margin-bottom: 0vw;
}

.longlease-role-text{
  color: #FFF;
text-align: center;
font-family: 'DDINPRO';
font-size: 1.2vw;
font-style: normal;
font-weight: 700;
line-height: 29px; /* 166.667% */
letter-spacing: 0.48px;
}


/* ---------- CARD COLORS ---------- */
.longlease-role-red {
 background: #EA647D;
box-shadow: 0 -8px 24px 0 rgba(0, 0, 0, 0.25);}

.longlease-role-yellow {
  background: #BA8E48;
box-shadow: 0 -8px 24px 0 rgba(0, 0, 0, 0.25);
}

.longlease-role-blue {
  background: #03A0D0;
box-shadow: 0 -8px 24px 0 rgba(0, 0, 0, 0.25);
}

.longlease-role-orange {
 background: #CA9304;
box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
}
