.role-video-wrapper {
  padding: 2vh 0vw;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* CARD BASE DESIGN */
.role-cardvideo {
  width: 80vw;
  height: 40vh;
  background: #676767;
  border-radius: 4px;
  padding: 40px 40px;
  display: flex;
  align-items: center;
  position: relative; /* IMPORTANT for absolute positioning */
}

/* ----------------------------- */
/* LEFT CARD → VIDEO BOX RIGHT  */
/* ----------------------------- */
.left-card {
  margin-right: auto;
}

.left-card .video-box {
  position: absolute;
  right: -110px; /* बाहर right side */
  top: 50%;
  transform: translateY(-50%);
}

/* ----------------------------- */
/* RIGHT CARD → VIDEO BOX LEFT  */
/* ----------------------------- */
.right-card {
  margin-left: auto;
}

.right-card .video-box {
  position: absolute;
  left: -110px; /* बाहर left side */
  top: 50%;
  transform: translateY(-50%);
}

/* RED BOX DESIGN */
.video-box {
  width: 30vw;
  height: 40vh;
  background: #e12d36;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WHITE PLAY CIRCLE */
.play-icon-wrapper {
  background: #ffffff;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon {
  width: 26px;
}

/* TEXT */
/* GENERAL TEXT */
.role-textvideo {
  color: #ffffff;
  font-size: 60px;
  line-height: 1.4;
}

/* LEFT CARD → TEXT LEFT SIDE AND MORE WIDTH */
.left-card .role-textvideo {
  width: 65%;
  text-align: left;
}

/* RIGHT CARD → TEXT RIGHT SIDE AND LESS WIDTH */
.right-card .role-textvideo {
  width: 100%;
  text-align: right;
}

/* POPUP */
.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  width: 80%;
  max-width: 800px;
  position: relative;
}

.popup-content iframe {
  width: 100%;
  height: 450px;
  background: black;
  border-radius: 8px;
}

.close-btn {
  position: absolute;
  right: -10px;
  top: -40px;
  font-size: 40px;
  cursor: pointer;
  color: #ffffff;
}
