/* PAGE WRAPPER */
.waste-container {
   font-family: 'DDINPRO';
  padding: 5vh 0vw;
  background: #ffffff;
}

/* TITLE */
.waste-title {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  margin-left: 5vw;
  margin-bottom: 0;
}

/* SUBTITLE */
.waste-subtitle {
  font-size: 18px;
  color: #B5B5B5;
  margin-left: 5vw;
  margin-bottom: 4vh;
  width: 28vw;
}

/* WRAPPER */
.waste-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* TABLE */
.waste-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 18px;
}

/* HEADER */
.waste-table thead th {
  background-color: #E12D36;
  color: #FFFFFF;
  text-align: start;
  padding: 12px 0;
  padding-left: 5vw;
  font-weight: 600;
  border: none;
}

/* EXACT COLUMN WIDTHS */
.waste-table th:first-child,
.waste-table td:first-child {
  width: 15%;
}

.waste-table th:nth-child(2),
.waste-table td:nth-child(2) {
  width: 25%;
}

.waste-table th:nth-child(3),
.waste-table td:nth-child(3) {
  width: 60%;
}

/* BODY CELLS */
.waste-table tbody td {
  padding: 1vh 0;
  vertical-align: top;
  border: none;
  color: #000000;
     border-right: 1px solid #e0e0e0; 
}

/* LINKS */
.waste-table td a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 0.5vh 5vw;
  border-radius: 5px;
 
  
}

.waste-table td a:hover{
   background-color: #e8f4fd;
  color: #3498db;

}



