/* PAGE WRAPPER */
.waste-container {
  font-family: "DDINPRO";
  padding: 5vh 0vw;
  background: #ffffff;
}

/* TITLE */
.waste-title {
  margin-left: 5vw;
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 0vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0vw;
  font-family: "DDINPRO";
}

/* SUBTITLE */
.waste-subtitle {
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
  width: 25vw;
  color: #b5b5b5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "DDINPRO";
}

/* WRAPPER */
.waste-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* TABLE */
.waste-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 1vw;
}

/* HEADER */
.waste-table thead th {
  background: #e12d36;
  color: #ffffff;
  text-align: left;
  padding: 1.5vh 1.39vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  padding-left: 5vw;
  border-right: none;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
}

/* EXACT COLUMN WIDTHS */
.waste-table th:first-child,
.waste-table td:first-child {
  width: 15%;
}

.waste-table th:nth-child(2),
.waste-table td:nth-child(2) {
  width: 25%;
}

.waste-table th:nth-child(3),
.waste-table td:nth-child(3) {
  width: 60%;
}

/* BODY CELLS */
.waste-table tbody td {
  padding: 0.5vh 0;
  vertical-align: top;
  border: none;
  color: #000;
  border-right: 1px solid #e0e0e0;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 1vw;
}

/* शेवटच्या column ला border नाही */
.waste-table tbody td:last-child {
  border-right: none;
}

/* LINKS */
.waste-table td a {
  font-size: 1vw;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 0.5vh 5vw;
  border-radius: 5px;
  font-family: "DDINPRO";
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.waste-table td a:hover {
  background-color: #e8f4fd;
  color: #3498db;
}

.waste-table tbody tr:first-child td {
  padding-top: 2vh;
}
