.why-gd-biogas {
  padding: 0vh 0vw;
  display: flex;
  flex-direction: column;
  font-family: 'DDINPRO';
}
.why-gd-biogas-header-section {
  height: 60vh;
  padding: 5vh 5vw;
  background-image: url("../../Components/IMAGES/whygdbackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.why-gd-biogas-main-heading {
  font-family: 'DDINPRO';
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}

.why-gd-biogas-red-line {
  width: 0.4vw;
  height: 7vh;
  background: #e12d36;
  display: inline-block;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

  /* MAIN WRAPPER */
  .why-gd-biogas {
    /* border: 2px solid red; */
    padding: 2vh 2vw;
     font-family: 'DDINPRO';
  }

  /* HEADER SECTION */
  .why-gd-biogas-header-section {
    height: 40vh;                /* reduced from 60vh */
    padding: 4vh 4vw;           
    background-position: center;
  }

  /* MAIN HEADING */
  .why-gd-biogas-main-heading {
    font-size: 32px;             /* reduced from 60px */
    font-weight: bold;
    color: #ffffff;
  }

  /* RED LINE */
  .why-gd-biogas-red-line {
    width: 3vw;                  /* reduced width */
    height: 5vh;                 /* reduced height */
  }
}
