.why-join-wrapper {
  padding: 0vh 6vw;
  /* margin-top: 0vw; */
}

/* ---------- TITLE ---------- */
.why-join-title {
 color: #282828;
font-family: 'DDINPRO';
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 117.188% */
  margin-top: -3vw;
}

/* ---------- DESCRIPTION ---------- */
.why-join-desc {
  color: rgba(37, 37, 37, 0.80);
font-family: 'DDINPRO';
font-size: 1.2vw;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 166.667% */
letter-spacing: 0.48px;
  /* max-width: 62vw; */
}

/* ---------- ALL CARDS IN 1 ROW ---------- */
.why-join-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
}

/* ---------- CARD ---------- */
.why-card {
  background-color: white;
  width: 11vw;
  height: 15.5vw;
  padding: 1vw 1vw;
  text-align: center;
  transition: 0.3s ease;
}

.why-card:hover {
  transform: translateY(-5px);
}

/* ---------- CARD NUMBER ---------- */
.why-card-number {
 -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #E12D36;
color: transparent;
font-family: 'DDINPRO';
font-size: 6vw;
font-style: normal;
font-weight: 700;
line-height: 0px;
margin-top: 4vw;
}

/* ---------- CARD TEXT ---------- */
.why-card-text {
  text-align: left;
 color: #282828;
font-family: 'DDINPRO';
font-size: 1.8vw;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 125% */
margin-top: -2vw;
}

.border-red {
 border-radius: 48px;
border: 1px solid #676767;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(225, 45, 54, 0.50);
}

.border-blue {
border-radius: 48px;
border: 1px solid #676767;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(9, 130, 254, 0.50);}

.border-purple {
border-radius: 48px;
border: 1px solid #676767;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(120, 123, 126, 0.60);}

.border-green {
border-radius: 48px;
border: 1px solid #676767;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(18, 183, 18, 0.50);}

.border-orange {
border-radius: 48px;
border: 1px solid #676767;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(255, 164, 0, 0.60);}

.border-pink {
border-radius: 48px;
border: 1px solid #676767;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(255, 111, 0, 0.50);}
