
@font-face {
  font-family: 'DDINPRO';
  src: url('./assests/Fonts/D-DIN-PRO-400-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DDINPRO';
  src: url('./assests/Fonts/D-DIN-PRO-700-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
  min-height: 100vh;
  overflow-y: auto;

   font-family: 'DDINPRO',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
