
@font-face {
  font-family: 'DDINPRO';
  src: url('./assests/Fonts/D-DIN-PRO-400-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DDINPRO';
  src: url('./assests/Fonts/D-DIN-PRO-700-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  overflow-y: auto;

  font-family: 'DDINPRO',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: #333 #e0e0e0;
}

/* Webkit */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #e0e0e0;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
}
